@font-face {
  font-family: "Inter";
  src: local("Inter-Regular"), local("Inter Regular"), url("../../font/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: local("Inter-Medium"), local("Inter Medium"), url("../../font/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: local("Inter-SemiBold"), local("Inter SemiBold"), url("../../font/Inter-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: local("Inter-Bold"), local("Inter Bold"), url("../../font/Inter-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

body {
  min-width: 320px;
  font-family: "Inter";
  font-weight: 400;
  position: relative;
}

.button-reset {
  outline: none;
  background: none;
  border: none;
}
.button-reset:focus-visible {
  outline: 2px solid black;
}

.p-reset {
  margin: 0;
}

.container {
  max-width: 1488px;
  margin: 0 auto;
}

.header {
  top: 0;
  z-index: 100;
  margin-bottom: 32px;
}
.header__wrap {
  position: relative;
}
.header__wrap-top {
  background-color: #111010;
}
.header__wrap-top .header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.header__wrap-top .header__container .header__logo {
  display: none;
}
.header__wrap-top .header__container .nav {
  color: #ffffff;
}
.header__wrap-top .header__container .nav .list {
  padding: 0;
  margin: 0;
  display: flex;
  list-style: none;
  gap: 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: normal;
}
.header__wrap-top .header__container .nav .list__item a {
  transition: color 0.3s ease-in-out;
  color: #ffffff;
  text-decoration: none;
}
.header__wrap-top .header__container .nav .list__item a:hover {
  color: #d6383c;
}
.header__wrap-top .header__container .header__phone {
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: normal;
  transition: color 0.3s ease-in-out;
}
.header__wrap-top .header__container .header__phone:hover {
  color: #d6383c;
}
.header__wrap-middle {
  width: 100%;
  z-index: 10;
  background-color: #f5f5f5;
}
.header__wrap-middle .header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 0;
}
.header__wrap-middle .header__container .header__button {
  padding: 14px 24px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, color 0.3s ease-in-out;
  cursor: pointer;
}
.header__wrap-middle .header__container .header__button-menu {
  background-color: #d6383c;
  color: #ffffff;
  display: flex;
  align-items: center;
  gap: 10px;
}
.header__wrap-middle .header__container .header__button-menu:hover {
  background-color: #f9454a;
}
.header__wrap-middle .header__container .header__button-menu:active {
  background-color: #4b0002;
}
.header__wrap-middle .header__container .header__button-enter {
  border: 2px solid #d6383c;
  color: #d6383c;
  padding: 14px 32px;
}
.header__wrap-middle .header__container .header__button-enter:hover {
  background-color: #fbebec;
  border-color: #f9454a;
  color: #f9454a;
}
.header__wrap-middle .header__container .header__button-enter:active {
  background-color: #f7d7d8;
  border-color: #4b0002;
  color: #4b0002;
}
.header__wrap-middle .header__container .header__logo {
  margin-right: 30px;
}
.header__wrap-middle .header__container .header__logo img {
  min-width: 165px;
}
.header__wrap-middle .header__container .input__wrap {
  position: relative;
  width: 63%;
}
.header__wrap-middle .header__container .input__wrap .header__input {
  width: 100%;
  border: 0;
  border-radius: 4px;
  padding: 14px;
  font-size: 16px;
  color: #7e7e7e;
  line-height: normal;
}
.header__wrap-middle .header__container .input__wrap .header__input:focus {
  outline: 2px solid #049300;
}
.header__wrap-middle .header__container .input__wrap .input__button {
  cursor: pointer;
  position: absolute;
  display: flex;
  align-items: center;
  right: 14px;
  top: 50%;
  line-height: normal;
  transform: translateY(-50%);
}
.header__wrap-middle .header__container .input__wrap .input__button svg path {
  transition: stroke 0.3s ease-in-out;
}
.header__wrap-middle .header__container .input__wrap .input__button:hover svg path {
  stroke: #d6383c;
}
.header__wrap-middle .header__container .button-input {
  display: none;
  align-items: center;
}
.header__wrap-middle-visible {
  position: fixed;
  top: 0;
}
.header__wrap-bottom {
  width: 100%;
  border-bottom: 1px solid #e4e4e4;
  background-color: #ffffff;
  z-index: 8;
  transform: none;
  transition: transform 0.4s ease-in-out;
}
.header__wrap-bottom .header__container {
  display: flex;
  align-items: center;
  gap: 32px;
  padding: 12px 0;
}
.header__wrap-bottom .header__container .switch {
  display: flex;
  align-items: center;
  gap: 12px;
}
.header__wrap-bottom .header__container .switch__option {
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
  color: #0e0d35;
}
.header__wrap-bottom .header__container .switch__wrap {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 28px;
}
.header__wrap-bottom .header__container .switch__wrap .switch__input {
  display: none;
}
.header__wrap-bottom .header__container .switch__wrap .switch__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #cfcfd7;
  border-radius: 20px;
  transition: background-color 0.3s ease-in-out;
}
.header__wrap-bottom .header__container .switch__wrap .switch__slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: #ffffff;
  border-radius: 15px;
  transition: transform 0.3s ease-in-out;
}
.header__wrap-bottom .header__container .switch__wrap .switch__input:checked + .switch__slider:before {
  transform: translateX(20px);
}
.header__wrap-bottom .header__container .switch__wrap .switch__input:checked + .switch__slider {
  background-color: #d6383c;
}
.header__wrap-bottom .header__container .header__buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 12px;
  overflow-x: scroll;
}
.header__wrap-bottom .header__container .header__buttons::-webkit-scrollbar {
  display: none;
}
.header__wrap-bottom .header__container .header__buttons .header__button {
  white-space: nowrap;
  cursor: pointer;
  padding: 12px 18px;
  background-color: #f5f5f5;
  font-size: 16px;
  line-height: normal;
  font-weight: 500;
  color: #111010;
  border: 0;
  border-radius: 28px;
  transition: color 0.3s ease-in-out;
}
.header__wrap-bottom .header__container .header__buttons .header__button:hover {
  color: #d6383c;
}
.header__wrap-bottom-visible-start {
  position: fixed;
  top: 86px;
}
.header__wrap-bottom-visible {
  transform: translateY(-90px);
}
.header .header__menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  height: 100vh;
  background-color: #f4f6f9;
  box-shadow: 182px 0px 51px 0px rgba(0, 0, 0, 0), 117px 0px 47px 0px rgba(0, 0, 0, 0.01), 66px 0px 39px 0px rgba(0, 0, 0, 0.05), 29px 0px 29px 0px rgba(0, 0, 0, 0.09), 7px 0px 16px 0px rgba(0, 0, 0, 0.1);
  padding: 48px 48px 160px 48px;
}
.header .header__menu .header__logo {
  margin-bottom: 32px;
  display: block;
}
.header .header__menu .list {
  list-style: none;
  width: 512px;
  padding: 0;
  position: relative;
}
.header .header__menu .list__item {
  padding: 0;
  position: relative;
}
.header .header__menu .list__item .item__button {
  width: 100%;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 16px 32px;
  font-size: 16px;
  color: #0e0d35;
  font-weight: 500;
  line-height: normal;
  display: flex;
  justify-content: space-between;
  transition: color 0.3s ease-in-out;
}
.header .header__menu .list__item .item__button svg path {
  transition: stroke 0.3s ease-in-out;
}
.header .header__menu .list__item .item__button:hover {
  color: #d6383c;
}
.header .header__menu .list__item .item__button:hover svg path {
  stroke: #d6383c;
}
.header .header__menu .list__item .item__button--active svg path {
  stroke: #d6383c;
}
.header .header__menu .list__item:not(:last-child) {
  margin-bottom: 4px;
}
.header .header__menu .list-2 {
  border-radius: 8px;
  width: 578px;
  padding: 24px;
  position: absolute;
  background-color: #ffffff;
  border-radius: 8px;
  right: -545px;
  top: 0;
  z-index: 1000;
}
.header .header__menu .list-2 .list__item {
  padding: 0;
}
.header .header__menu .list-2 .list__item .item__button {
  border-radius: 8px;
  padding: 4px 12px;
  font-size: 14px;
  color: #0e0d35;
  font-weight: 500;
  line-height: normal;
  display: flex;
  justify-content: space-between;
}
.header .header__menu .list-2 .list__item .item__button:hover {
  color: #d6383c;
}
.header .header__menu .list-2 .list__item:not(:last-child) {
  margin-bottom: 4px;
}
.header .header__menu .list-3 {
  border-radius: 8px;
  padding: 24px;
  width: 318px;
  position: absolute;
  background-color: #ffffff;
  border-radius: 8px;
  right: -305px;
  top: -24px;
}
.header .header__menu .list-3 .list__item {
  padding: 0;
}
.header .header__menu .list-3 .list__item .item__button {
  border-radius: 8px;
  padding: 4px 12px;
  font-size: 14px;
  color: #0e0d35;
  font-weight: 500;
  line-height: normal;
  display: flex;
  justify-content: space-between;
}
.header .header__menu .list-3 .list__item .item__button:hover {
  color: #d6383c;
}
.header .header__menu .list-3 .list__item:not(:last-child) {
  margin-bottom: 4px;
}
.header .header__menu .header__button {
  display: none;
  width: 100%;
  padding: 14px 32px;
  border-radius: 4px;
  background-color: #ffffff;
  font-size: 16px;
  color: #9f9eae;
  font-weight: 500;
  line-height: 20px;
}
.header .header__menu .menu-up {
  display: none;
  background-color: #d6383c;
  color: #ffffff;
  margin-bottom: 8px;
}
.header .header__menu--active {
  display: block;
}

.main {
  max-width: 1488px;
  margin: 0 auto;
  display: flex;
  gap: 32px;
  margin-bottom: 120px;
}
.main .menu__overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.5;
  z-index: 10;
}
.main .news {
  max-width: 1171px;
}
.main .news__container .news__swiper {
  padding-bottom: 60px;
  margin-bottom: 42px;
}
.main .news__container .news__swiper .swiper-wrapper .slide {
  text-decoration: none;
  display: flex;
  gap: 32px;
  background-color: #f4f6f9;
  border-radius: 16px;
}
.main .news__container .news__swiper .swiper-wrapper .slide__img {
  border-radius: 16px 0 0 16px;
  min-width: 510px;
  background-color: #e4e4e4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .news__container .news__swiper .swiper-wrapper .slide__content {
  padding: 32px 32px 40px 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.main .news__container .news__swiper .swiper-wrapper .slide__content .slide__info {
  display: flex;
  align-items: center;
  gap: 16px;
}
.main .news__container .news__swiper .swiper-wrapper .slide__content .slide__info .slide__topic {
  font-size: 12px;
  font-weight: 500;
  color: #322d2d;
  padding: 8px 16px;
  border-radius: 28px;
  background-color: #ffffff;
  line-height: normal;
}
.main .news__container .news__swiper .swiper-wrapper .slide__content .slide__info .slide__date {
  font-size: 12px;
  line-height: normal;
  color: #7e7e7e;
}
.main .news__container .news__swiper .swiper-wrapper .slide__content .slide__title {
  margin: 0;
  color: #0e0d35;
  font-weight: 700;
  line-height: normal;
  font-size: 32px;
  height: 116px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  transition: color 0.3s ease-in-out;
}
.main .news__container .news__swiper .swiper-wrapper .slide__content .slide__text {
  font-size: 16px;
  line-height: 118%;
  color: #414040;
}
.main .news__container .news__swiper .swiper-wrapper .slide:hover .slide__content .slide__title {
  color: #d6383c;
}
.main .news__container .news__swiper .swiper-button-prev {
  width: 36px;
  height: 36px;
  border-radius: 18px;
  top: auto;
  bottom: 0;
  background-color: #d6383c;
  left: 37.7%;
}
.main .news__container .news__swiper .swiper-button-prev svg {
  width: 20px;
}
.main .news__container .news__swiper .swiper-button-prev svg path {
  stroke: #ffffff;
}
.main .news__container .news__swiper .swiper-button-prev::after {
  display: none;
}
.main .news__container .news__swiper .swiper-button-next {
  width: 36px;
  height: 36px;
  border-radius: 18px;
  top: auto;
  bottom: 0;
  background-color: #d6383c;
  right: 37.7%;
}
.main .news__container .news__swiper .swiper-button-next svg {
  width: 20px;
}
.main .news__container .news__swiper .swiper-button-next svg path {
  stroke: #ffffff;
}
.main .news__container .news__swiper .swiper-button-next::after {
  display: none;
}
.main .news__container .news__swiper .swiper-pagination {
  top: auto;
  bottom: 0;
}
.main .news__container .news__swiper .swiper-pagination .swiper-pagination-bullet {
  width: 24px;
  height: 24px;
  background-color: #e4e4e4;
  opacity: 1;
  margin: 0 8px;
}
.main .news__container .news__swiper .swiper-pagination .swiper-pagination-bullet-active {
  background-color: transparent;
  border: 2px solid #d6383c;
}
.main .news__container .news__wrap {
  display: flex;
  gap: 32px;
}
.main .news__container .news__wrap .asideInsideNews {
  min-width: 285px;
  max-width: 285px;
}
.main .news__container .news__wrap .asideInsideNews__container .card-new {
  display: none;
  padding: 16px;
  margin-bottom: 32px;
}
.main .news__container .news__wrap .asideInsideNews__container .card-new .card__info {
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  line-height: normal;
  color: #049300;
  padding: 8px 16px;
  background-color: #dbffda;
  border-radius: 28px;
  margin-bottom: 8px;
}
.main .news__container .news__wrap .asideInsideNews__container .card-new .card__number {
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  color: #111010;
  margin-bottom: 16px;
}
.main .news__container .news__wrap .asideInsideNews__container .card-new .card__img {
  background-color: #ffffff;
  border-radius: 16px;
  margin-bottom: 16px;
  height: 282px;
}
.main .news__container .news__wrap .asideInsideNews__container .card-new .card__button {
  text-decoration: none;
  display: block;
  cursor: pointer;
  border: 2px solid #d6383c;
  border-radius: 6px;
  background-color: #ffffff;
  color: #d6383c;
  padding: 13px 102px;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  transition: border-color 0.3s ease-in-out, color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.main .news__container .news__wrap .asideInsideNews__container .card-new .card__button:hover {
  border-color: #f9454a;
  color: #f9454a;
  background-color: #fbebec;
}
.main .news__container .news__wrap .asideInsideNews__container .card-new .card__button:active {
  border-color: #4b0002;
  color: #4b0002;
  background-color: #f7d7d8;
}
.main .news__container .news__wrap .asideInsideNews__container .asideInsideNews__wrap {
  padding: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid #e4e4e4;
  border-radius: 16px;
  transition: background-color 0.3s ease-in-out;
}
.main .news__container .news__wrap .asideInsideNews__container .asideInsideNews__wrap .asideInsideNews__button {
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #0e0d35;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  padding: 8px 16px;
  border-radius: 40px;
  background-color: #f4f6f9;
  margin-bottom: 8px;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.main .news__container .news__wrap .asideInsideNews__container .asideInsideNews__wrap .asideInsideNews__button svg path {
  transition: stroke 0.3s ease-in-out;
}
.main .news__container .news__wrap .asideInsideNews__container .asideInsideNews__wrap .asideInsideNews__button span {
  display: block;
  width: 165px;
  text-align: start;
}
.main .news__container .news__wrap .asideInsideNews__container .asideInsideNews__wrap .asideInsideNews__button:hover {
  color: #d6383c;
}
.main .news__container .news__wrap .asideInsideNews__container .asideInsideNews__wrap .asideInsideNews__button:hover svg path {
  stroke: #d6383c;
}
.main .news__container .news__wrap .asideInsideNews__container .asideInsideNews__wrap .asideInsideNews__gratters {
  height: 317px;
  overflow-y: scroll;
}
.main .news__container .news__wrap .asideInsideNews__container .asideInsideNews__wrap .asideInsideNews__gratters .gratter {
  padding: 16px;
  margin-right: 8px;
  border-radius: 8px;
  transition: background-color 0.3s ease-in-out;
}
.main .news__container .news__wrap .asideInsideNews__container .asideInsideNews__wrap .asideInsideNews__gratters .gratter__date {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: normal;
  color: #7e7e7e;
}
.main .news__container .news__wrap .asideInsideNews__container .asideInsideNews__wrap .asideInsideNews__gratters .gratter__title {
  margin: 0;
  color: #0e0d35;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
}
.main .news__container .news__wrap .asideInsideNews__container .asideInsideNews__wrap .asideInsideNews__gratters .gratter:not(:last-child) {
  margin-bottom: 8px;
}
.main .news__container .news__wrap .asideInsideNews__container .asideInsideNews__wrap .asideInsideNews__gratters::-webkit-scrollbar {
  width: 17px;
}
.main .news__container .news__wrap .asideInsideNews__container .asideInsideNews__wrap .asideInsideNews__gratters::-webkit-scrollbar-track {
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
  background-color: #f4f6f9;
  border-radius: 10px;
}
.main .news__container .news__wrap .asideInsideNews__container .asideInsideNews__wrap .asideInsideNews__gratters::-webkit-scrollbar-thumb {
  background: #d6383c;
  border-radius: 10px;
}
.main .news__container .news__wrap .asideInsideNews__container .asideInsideNews__wrap .asideInsideNews__ads {
  height: 317px;
  overflow-y: scroll;
}
.main .news__container .news__wrap .asideInsideNews__container .asideInsideNews__wrap .asideInsideNews__ads .ad {
  padding: 16px;
  margin-right: 8px;
  border-radius: 8px;
  transition: background-color 0.3s ease-in-out;
}
.main .news__container .news__wrap .asideInsideNews__container .asideInsideNews__wrap .asideInsideNews__ads .ad__date {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: normal;
  color: #7e7e7e;
}
.main .news__container .news__wrap .asideInsideNews__container .asideInsideNews__wrap .asideInsideNews__ads .ad__title {
  margin: 0;
  color: #0e0d35;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
}
.main .news__container .news__wrap .asideInsideNews__container .asideInsideNews__wrap .asideInsideNews__ads .ad:not(:last-child) {
  margin-bottom: 8px;
}
.main .news__container .news__wrap .asideInsideNews__container .asideInsideNews__wrap .asideInsideNews__ads::-webkit-scrollbar {
  width: 17px;
}
.main .news__container .news__wrap .asideInsideNews__container .asideInsideNews__wrap .asideInsideNews__ads::-webkit-scrollbar-track {
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
  background-color: #f4f6f9;
  border-radius: 10px;
}
.main .news__container .news__wrap .asideInsideNews__container .asideInsideNews__wrap .asideInsideNews__ads::-webkit-scrollbar-thumb {
  background: #d6383c;
  border-radius: 10px;
}
.main .news__container .news__wrap .asideInsideNews__container .asideInsideNews__wrap:hover {
  background-color: #f4f6f9;
}
.main .news__container .news__wrap .asideInsideNews__container .asideInsideNews__wrap:hover .asideInsideNews__button {
  background-color: #ffffff;
}
.main .news__container .news__wrap .asideInsideNews__container .asideInsideNews__wrap:hover .asideInsideNews__gratters .gratter {
  background-color: #ffffff;
}
.main .news__container .news__wrap .asideInsideNews__container .asideInsideNews__wrap:hover .asideInsideNews__gratters::-webkit-scrollbar-track {
  background-color: #ffffff;
}
.main .news__container .news__wrap .asideInsideNews__container .asideInsideNews__wrap:hover .asideInsideNews__ads .ad {
  background-color: #ffffff;
}
.main .news__container .news__wrap .asideInsideNews__container .asideInsideNews__wrap:hover .asideInsideNews__ads::-webkit-scrollbar-track {
  background-color: #ffffff;
}
.main .news__container .news__wrap .asideInsideNews__container .card {
  text-decoration: none;
  border-radius: 16px;
  background-color: #f4f6f9;
}
.main .news__container .news__wrap .asideInsideNews__container .card__img {
  border-radius: 16px 16px 0 0;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e4e4e4;
}
.main .news__container .news__wrap .asideInsideNews__container .card__title {
  margin: 0;
  color: #111010;
  padding: 16px;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  transition: color 0.3s ease-in-out;
}
.main .news__container .news__wrap .asideInsideNews__container .card:hover .card__title {
  color: #d6383c;
}
.main .news__container .news__wrap .asideInsideNews__container .asideInsideNews__cards {
  margin-top: 16px;
  border-top: 1px solid #e4e4e4;
  padding: 0 16px;
  padding-top: 32px;
}
.main .news__container .news__wrap .asideInsideNews__container .asideInsideNews__cards .cardSmall {
  text-decoration: none;
  display: flex;
  gap: 12px;
  align-items: center;
  background-color: #ffffff;
  margin-bottom: 0;
}
.main .news__container .news__wrap .asideInsideNews__container .asideInsideNews__cards .cardSmall__img {
  min-width: 60px;
  height: 60px;
  padding: 13px;
  border-radius: 60px;
  background-color: #f4f6f9;
}
.main .news__container .news__wrap .asideInsideNews__container .asideInsideNews__cards .cardSmall__title {
  color: #0e0d35;
  margin: 0;
  padding: 0;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  transition: color 0.3s ease-in-out;
}
.main .news__container .news__wrap .asideInsideNews__container .asideInsideNews__cards .cardSmall:not(:last-child) {
  margin-bottom: 16px;
}
.main .news__container .news__wrap .asideInsideNews__container .asideInsideNews__cards .cardSmall:hover .cardSmall__title {
  color: #d6383c;
}
.main .news__container .news__wrap .news__basic {
  max-width: 854px;
}
.main .news__container .news__wrap .news__basic .news__cards {
  margin-bottom: 32px;
}
.main .news__container .news__wrap .news__basic .news__cards .card {
  text-decoration: none;
  display: flex;
  background-color: #f4f6f9;
  border-radius: 16px;
  min-height: 248px;
}
.main .news__container .news__wrap .news__basic .news__cards .card__img {
  min-width: 269px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e4e4e4;
  border-radius: 16px 0 0 16px;
}
.main .news__container .news__wrap .news__basic .news__cards .card__content {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main .news__container .news__wrap .news__basic .news__cards .card__content .card__info {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-bottom: 16px;
}
.main .news__container .news__wrap .news__basic .news__cards .card__content .card__info .card__warning {
  display: flex;
  align-items: center;
  gap: 6px;
  color: #d6383c;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
}
.main .news__container .news__wrap .news__basic .news__cards .card__content .card__info .card__topic {
  font-size: 12px;
  font-weight: 500;
  color: #322d2d;
  padding: 8px 16px;
  border-radius: 28px;
  background-color: #ffffff;
  line-height: normal;
}
.main .news__container .news__wrap .news__basic .news__cards .card__content .card__info .card__date {
  font-size: 12px;
  line-height: normal;
  color: #7e7e7e;
}
.main .news__container .news__wrap .news__basic .news__cards .card__content .card__title {
  margin: 0;
  color: #0e0d35;
  font-size: 18px;
  font-weight: 700;
  line-height: 105%;
  margin-bottom: 12px;
  transition: color 0.3s ease-in-out;
  height: 56px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.main .news__container .news__wrap .news__basic .news__cards .card__content .card__text {
  font-size: 16px;
  line-height: normal;
  color: #414040;
  height: 101px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}
.main .news__container .news__wrap .news__basic .news__cards .card:not(:last-child) {
  margin-bottom: 16px;
}
.main .news__container .news__wrap .news__basic .news__cards .card:hover .card__content .card__title {
  color: #d6383c;
}
.main .news__container .news__wrap .news__basic .news__swiper-inside {
  padding-bottom: 60px;
  margin-bottom: 32px;
}
.main .news__container .news__wrap .news__basic .news__swiper-inside .swiper-wrapper .slide {
  position: relative;
  background-image: url("../../img/banner.png");
  border-radius: 16px;
  padding: 42px;
  box-sizing: border-box;
  min-height: 342px;
}
.main .news__container .news__wrap .news__basic .news__swiper-inside .swiper-wrapper .slide .slide__button {
  cursor: pointer;
  position: absolute;
  bottom: 42px;
  margin-bottom: auto;
  width: 151px;
  padding: 14px 32px;
  text-align: center;
  background-color: #ffffff;
  border: 1px solid #d6383c;
  border-radius: 4px;
  color: #d6383c;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  transition: border-color 0.3s ease-in-out, color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.main .news__container .news__wrap .news__basic .news__swiper-inside .swiper-wrapper .slide .slide__button:hover {
  border-color: #f9454a;
  color: #f9454a;
  background-color: #fbebec;
}
.main .news__container .news__wrap .news__basic .news__swiper-inside .swiper-wrapper .slide .slide__button:active {
  border-color: #4b0002;
  color: #4b0002;
  background-color: #f7d7d8;
}
.main .news__container .news__wrap .news__basic .news__swiper-inside .swiper-button-prev {
  width: 36px;
  height: 36px;
  border-radius: 18px;
  top: auto;
  bottom: 0;
  background-color: #d6383c;
  left: 33.7%;
}
.main .news__container .news__wrap .news__basic .news__swiper-inside .swiper-button-prev svg {
  width: 20px;
}
.main .news__container .news__wrap .news__basic .news__swiper-inside .swiper-button-prev svg path {
  stroke: #ffffff;
}
.main .news__container .news__wrap .news__basic .news__swiper-inside .swiper-button-prev::after {
  display: none;
}
.main .news__container .news__wrap .news__basic .news__swiper-inside .swiper-button-next {
  width: 36px;
  height: 36px;
  border-radius: 18px;
  top: auto;
  bottom: 0;
  background-color: #d6383c;
  right: 33.7%;
}
.main .news__container .news__wrap .news__basic .news__swiper-inside .swiper-button-next svg {
  width: 20px;
}
.main .news__container .news__wrap .news__basic .news__swiper-inside .swiper-button-next svg path {
  stroke: #ffffff;
}
.main .news__container .news__wrap .news__basic .news__swiper-inside .swiper-button-next::after {
  display: none;
}
.main .news__container .news__wrap .news__basic .news__swiper-inside .swiper-pagination {
  top: auto;
  bottom: 0;
}
.main .news__container .news__wrap .news__basic .news__swiper-inside .swiper-pagination .swiper-pagination-bullet {
  width: 24px;
  height: 24px;
  background-color: #e4e4e4;
  opacity: 1;
  margin: 0 8px;
}
.main .news__container .news__wrap .news__basic .news__swiper-inside .swiper-pagination .swiper-pagination-bullet-active {
  background-color: transparent;
  border: 2px solid #d6383c;
}
.main .news__container .news__wrap .news__basic .news__cards-small {
  display: flex;
  gap: 16px;
  margin-bottom: 42px;
  overflow-x: scroll;
}
.main .news__container .news__wrap .news__basic .news__cards-small .card {
  max-width: 274px;
  min-width: 274px;
  text-decoration: none;
  background-color: #f4f6f9;
  border-radius: 16px;
}
.main .news__container .news__wrap .news__basic .news__cards-small .card__img {
  background-color: #e4e4e4;
  height: 248px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px 16px 0 0;
}
.main .news__container .news__wrap .news__basic .news__cards-small .card__content {
  padding: 16px;
}
.main .news__container .news__wrap .news__basic .news__cards-small .card__content .card__topic {
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  color: #322d2d;
  padding: 8px 16px;
  border-radius: 28px;
  background-color: #ffffff;
  line-height: normal;
  margin-bottom: 16px;
}
.main .news__container .news__wrap .news__basic .news__cards-small .card__content .card__date {
  font-size: 12px;
  line-height: normal;
  color: #7e7e7e;
  margin-bottom: 4px;
}
.main .news__container .news__wrap .news__basic .news__cards-small .card__content .card__title {
  margin: 0;
  color: #0e0d35;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  transition: color 0.3s ease-in-out;
}
.main .news__container .news__wrap .news__basic .news__cards-small .card:hover .card__content .card__title {
  color: #d6383c;
}
.main .news__container .news__wrap .news__basic .news__button {
  cursor: pointer;
  display: block;
  margin: 0 auto;
  color: #ffffff;
  color: var(--White, #fff);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  border-radius: 4px;
  background-color: #d6383c;
  padding: 14px 32px;
  transition: background-color 0.3s ease-in-out;
}
.main .news__container .news__wrap .news__basic .news__button:hover {
  background-color: #f9454a;
}
.main .news__container .news__wrap .news__basic .news__button:active {
  background-color: #4b0002;
}
.main .asideNews {
  min-width: 285px;
}
.main .asideNews__container .card {
  text-decoration: none;
  border-radius: 16px;
  background-color: #f4f6f9;
  margin-bottom: 16px;
}
.main .asideNews__container .card__img {
  border-radius: 16px 16px 0 0;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e4e4e4;
}
.main .asideNews__container .card__title {
  margin: 0;
  color: #111010;
  padding: 16px;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  transition: color 0.3s ease-in-out;
}
.main .asideNews__container .card-new {
  padding: 16px;
}
.main .asideNews__container .card-new .card__info {
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  line-height: normal;
  color: #049300;
  padding: 8px 16px;
  background-color: #dbffda;
  border-radius: 28px;
  margin-bottom: 8px;
}
.main .asideNews__container .card-new .card__number {
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  color: #111010;
  margin-bottom: 16px;
}
.main .asideNews__container .card-new .card__img {
  background-color: #ffffff;
  border-radius: 16px;
  margin-bottom: 16px;
  height: 282px;
}
.main .asideNews__container .card-new .card__button {
  text-decoration: none;
  display: block;
  cursor: pointer;
  border: 2px solid #d6383c;
  border-radius: 6px;
  background-color: #ffffff;
  color: #d6383c;
  padding: 16px 102px;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  transition: border-color 0.3s ease-in-out, color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.main .asideNews__container .card-new .card__button:hover {
  border-color: #f9454a;
  color: #f9454a;
  background-color: #fbebec;
}
.main .asideNews__container .card-new .card__button:active {
  border-color: #4b0002;
  color: #4b0002;
  background-color: #f7d7d8;
}
.main .asideNews__container .card:hover .card__title {
  color: #d6383c;
}
.main .asideNews__container .asideNews__line {
  height: 1px;
  width: 100%;
  background-color: #e4e4e4;
  margin-bottom: 16px;
}
.main .asideNews__container .asideNews__smallNews {
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  padding: 16px 16px;
  margin-bottom: 16px;
}
.main .asideNews__container .asideNews__smallNews .card {
  display: flex;
  gap: 12px;
  align-items: center;
  background-color: #ffffff;
  margin-bottom: 0;
}
.main .asideNews__container .asideNews__smallNews .card__img {
  min-width: 60px;
  height: 60px;
  padding: 13px;
  border-radius: 60px;
  background-color: #f4f6f9;
}
.main .asideNews__container .asideNews__smallNews .card__title {
  margin: 0;
  padding: 0;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.main .asideNews__container .asideNews__smallNews .card:not(:last-child) {
  margin-bottom: 16px;
}

.footer {
  background-color: #111010;
  padding: 64px 0;
  color: #ffffff;
}
.footer__container .footer__text {
  font-size: 16px;
  line-height: normal;
  font-weight: 400;
}
.footer__container .footer__button {
  display: none;
  width: 100%;
  background-color: #d6383c;
  font-size: 16px;
  color: #ffffff;
  font-weight: 500;
  line-height: 20px;
  padding: 14px;
  align-items: center;
  gap: 4px;
  justify-content: center;
  border-radius: 4px;
  margin-bottom: 32px;
}
.footer__container .footer__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 44px;
}
.footer__container .footer__top .footer__wrap {
  max-width: 416px;
}
.footer__container .footer__top .footer__wrap .footer__logo {
  margin-bottom: 12px;
}
.footer__container .footer__top .footer__wrap .footer__ageLimit {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  padding: 17px 12px;
  background-color: #d6383c;
  border-radius: 39px;
}
.footer__container .footer__top .footer__wrap:first-child .footer__text:not(:last-child) {
  margin-bottom: 32px;
}
.footer__container .footer__top .footer__wrap:nth-child(2) {
  position: relative;
}
.footer__container .footer__top .footer__wrap:nth-child(2) .footer__logo {
  display: none;
}
.footer__container .footer__top .footer__wrap:nth-child(2) .footer__text {
  font-weight: 500;
}
.footer__container .footer__top .footer__wrap:nth-child(2) .footer__text:not(:last-child) {
  margin-bottom: 12px;
}
.footer__container .footer__top .footer__wrap:nth-child(2) .footer__text:nth-child(4n) {
  margin-bottom: 32px;
}
.footer__container .footer__top .footer__wrap:nth-child(2) .footer__text:first-child {
  display: none;
}
.footer__container .footer__top .footer__wrap:nth-child(2) .footer__text-name {
  display: none;
  margin-bottom: 32px;
}
.footer__container .footer__top .footer__wrap:last-child {
  display: flex;
  gap: 124px;
}
.footer__container .footer__top .footer__wrap:last-child .nav__list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style: none;
  font-weight: 500;
  font-size: 18px;
  line-height: normal;
}
.footer__container .footer__top .footer__wrap:last-child .nav__list .list__item a {
  transition: color 0.3s ease-in-out;
  color: #ffffff;
  text-decoration: none;
}
.footer__container .footer__top .footer__wrap:last-child .nav__list .list__item a:hover {
  color: #d6383c;
}
.footer__container .footer__bottom {
  display: flex;
  gap: 32px;
}
.footer__container .footer__bottom .footer__text {
  font-size: 14px;
}

@media (max-width: 1600px) {
  .container {
    padding: 0 80px;
    max-width: unset;
  }
  .header__wrap-top .header__container {
    padding: 20px 80px;
  }
  .header__wrap-middle .header__container {
    padding: 18px 80px;
    gap: 32px;
  }
  .header__wrap-middle .header__container .header__logo {
    margin-right: 30px;
  }
  .header__wrap-bottom .header__container {
    padding: 12px 80px;
    gap: 44px;
  }
  .main {
    display: block;
    max-width: 100%;
  }
  .main .news {
    max-width: 100%;
    max-width: auto;
  }
  .main .news__container .news__swiper {
    margin-bottom: 42px;
    padding-bottom: 63px;
  }
  .main .news__container .news__swiper .swiper-wrapper .slide__content {
    padding: 32px 32px 32px 0;
  }
  .main .news__container .news__swiper .swiper-wrapper .slide__content .slide__text {
    min-height: 217px;
  }
  .main .news__container .news__swiper .swiper-button-prev {
    left: 38.4%;
    width: 40px;
    height: 40px;
  }
  .main .news__container .news__swiper .swiper-button-next {
    right: 38.4%;
    width: 40px;
    height: 40px;
  }
  .main .news__container .news__swiper .swiper-pagination {
    bottom: 5px;
  }
  .main .news__container .news__wrap {
    gap: 16px;
  }
  .main .news__container .news__wrap .asideInsideNews {
    min-width: 308px;
    max-width: unset;
  }
  .main .news__container .news__wrap .asideInsideNews__container {
    padding: 0;
  }
  .main .news__container .news__wrap .asideInsideNews__container .card-new {
    display: block;
  }
  .main .news__container .news__wrap .asideInsideNews__container .asideInsideNews__wrap .asideInsideNews__gratters {
    height: 286px;
  }
  .main .news__container .news__wrap .asideInsideNews__container .asideInsideNews__wrap .asideInsideNews__gratters::-webkit-scrollbar {
    width: 12px;
  }
  .main .news__container .news__wrap .asideInsideNews__container .asideInsideNews__wrap .asideInsideNews__ads {
    height: 286px;
  }
  .main .news__container .news__wrap .asideInsideNews__container .asideInsideNews__wrap .asideInsideNews__ads::-webkit-scrollbar {
    width: 12px;
  }
  .main .news__container .news__wrap .asideInsideNews__container .card__title {
    line-height: 124%;
  }
  .main .news__container .news__wrap .news__basic {
    max-width: 1100px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    min-width: 320px;
  }
  .main .news__container .news__wrap .news__basic .news__cards {
    margin-bottom: 16px;
  }
  .main .news__container .news__wrap .news__basic .news__swiper-inside .swiper-wrapper .slide {
    min-height: 345px;
  }
  .main .news__container .news__wrap .news__basic .news__swiper-inside .swiper-button-prev {
    width: 40px;
    height: 40px;
    left: 34.7%;
  }
  .main .news__container .news__wrap .news__basic .news__swiper-inside .swiper-button-next {
    width: 40px;
    height: 40px;
    right: 34.7%;
  }
  .main .news__container .news__wrap .news__basic .news__swiper-inside .swiper-pagination {
    bottom: 5px;
  }
  .main .news__container .news__wrap .news__basic .news__cards-small {
    margin-bottom: 45px;
  }
  .main .news__container .news__wrap .news__basic .news__cards-small .card__content .card__title {
    font-size: 16px;
  }
  .main .asideNews {
    display: none;
  }
  .footer__container .footer__text {
    line-height: 120%;
  }
  .footer__container .footer__top {
    margin-bottom: 30px;
  }
  .footer__container .footer__top .footer__wrap {
    max-width: 347px;
  }
  .footer__container .footer__top .footer__wrap .footer__logo {
    margin-bottom: 8px;
  }
  .footer__container .footer__top .footer__wrap .footer__ageLimit {
    bottom: 17px;
  }
  .footer__container .footer__top .footer__wrap:last-child {
    gap: 53px;
  }
  .footer__container .footer__top .footer__wrap:last-child .nav__list {
    gap: 17px;
  }
}
@media (max-width: 1400px) {
  .header .header__menu .list {
    width: 350px;
  }
  .header .header__menu .list-2 {
    width: 300px;
    right: -275px;
  }
  .header .header__menu .list-3 {
    width: 250px;
    right: -245px;
  }
  .footer__container .footer__top {
    margin-bottom: 44px;
  }
  .footer__container .footer__top .footer__wrap {
    max-width: 335px;
  }
  .footer__container .footer__top .footer__wrap .footer__ageLimit {
    bottom: 0;
  }
  .footer__container .footer__top .footer__wrap:last-child {
    gap: 43px;
  }
  .footer__container .footer__top .footer__wrap:last-child .nav__list {
    gap: 17px;
  }
}
@media (max-width: 1280px) {
  .container {
    padding: 0 16px;
    max-width: unset;
  }
  .header__wrap-top .header__container {
    padding: 20px 16px;
  }
  .header__wrap-top .header__container .nav .list {
    gap: 12px;
  }
  .header__wrap-middle .header__container {
    padding: 18px 16px;
    gap: 16px;
  }
  .header__wrap-middle .header__container .header__button-menu {
    margin-right: 16px;
  }
  .header__wrap-middle .header__container .header__logo {
    margin-right: 42px;
  }
  .header__wrap-bottom .header__container {
    padding: 10px 16px;
  }
  .header .header__menu {
    padding: 48px 16px;
  }
  .header .header__menu .list {
    width: 364px;
  }
  .header .header__menu .list-2 {
    padding: 16px;
    width: 268px;
    right: -245px;
  }
  .header .header__menu .list-3 {
    padding: 16px;
    width: 268px;
    right: -250px;
    top: -16px;
  }
  .main {
    display: block;
    max-width: 100%;
  }
  .main .news {
    max-width: 100%;
    max-width: auto;
  }
  .main .news__container .news__swiper {
    margin-bottom: 42px;
    padding-bottom: 63px;
  }
  .main .news__container .news__swiper .swiper-wrapper .slide__img {
    min-width: 368px;
  }
  .main .news__container .news__swiper .swiper-wrapper .slide__content {
    padding: 32px 32px 37px 0;
  }
  .main .news__container .news__swiper .swiper-wrapper .slide__content .slide__title {
    font-size: 24px;
    height: 86px;
  }
  .main .news__container .news__swiper .swiper-wrapper .slide__content .slide__text {
    min-height: 115px;
    height: 115px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
  }
  .main .news__container .news__swiper .swiper-button-prev {
    left: 35%;
  }
  .main .news__container .news__swiper .swiper-button-next {
    right: 35%;
  }
  .main .news__container .news__wrap {
    gap: 42px;
    flex-direction: column;
  }
  .main .news__container .news__wrap .asideInsideNews__container {
    display: flex;
    gap: 16px;
    padding: 0;
  }
  .main .news__container .news__wrap .asideInsideNews__container .asideInsideNews__wrap {
    width: 100%;
    border: none;
    margin: 0;
    padding-bottom: 0;
  }
  .main .news__container .news__wrap .asideInsideNews__container .asideInsideNews__wrap .asideInsideNews__button {
    justify-content: start;
    padding: 9px 18px 9px 13px;
  }
  .main .news__container .news__wrap .asideInsideNews__container .asideInsideNews__wrap .asideInsideNews__button span {
    width: unset;
  }
  .main .news__container .news__wrap .asideInsideNews__container .asideInsideNews__wrap .asideInsideNews__button svg:first-child {
    margin-right: 8px;
  }
  .main .news__container .news__wrap .asideInsideNews__container .asideInsideNews__wrap .asideInsideNews__button svg:last-child {
    margin-left: auto;
  }
  .main .news__container .news__wrap .asideInsideNews__container .asideInsideNews__wrap .asideInsideNews__gratters {
    height: 270px;
  }
  .main .news__container .news__wrap .asideInsideNews__container .asideInsideNews__wrap .asideInsideNews__gratters .gratter {
    padding: 12px;
  }
  .main .news__container .news__wrap .asideInsideNews__container .asideInsideNews__wrap .asideInsideNews__ads {
    height: 270px;
  }
  .main .news__container .news__wrap .asideInsideNews__container .asideInsideNews__wrap .asideInsideNews__ads .ad {
    padding: 12px;
  }
  .main .news__container .news__wrap .asideInsideNews__container .card {
    display: none;
    margin: 0;
  }
  .main .news__container .news__wrap .asideInsideNews__container .card-new {
    display: block;
  }
  .main .news__container .news__wrap .asideInsideNews__container .card-new .card__img {
    height: 175px;
  }
  .main .news__container .news__wrap .asideInsideNews__container .asideInsideNews__cards {
    display: none;
  }
  .main .news__container .news__wrap .news__basic .news__swiper-inside .swiper-button-prev {
    left: 35.1%;
  }
  .main .news__container .news__wrap .news__basic .news__swiper-inside .swiper-button-next {
    right: 35.1%;
  }
  .main .news__container .news__wrap .news__basic .news__swiper-inside .swiper-pagination {
    bottom: 5px;
  }
  .main .news__container .news__wrap .news__basic .news__cards-small {
    margin-bottom: 49px;
  }
  .footer {
    padding: 42px 0;
  }
  .footer__container .footer__text {
    line-height: 120%;
  }
  .footer__container .footer__top {
    margin-bottom: 12px;
    flex-wrap: wrap;
    gap: 44px;
  }
  .footer__container .footer__top .footer__wrap {
    max-width: unset;
  }
  .footer__container .footer__top .footer__wrap .footer__logo {
    margin-bottom: 8px;
  }
  .footer__container .footer__top .footer__wrap .footer__ageLimit {
    bottom: 17px;
  }
  .footer__container .footer__top .footer__wrap:last-child {
    gap: 80px;
  }
  .footer__container .footer__top .footer__wrap:first-child {
    order: 3;
    display: flex;
    gap: 60px;
  }
  .footer__container .footer__top .footer__wrap:first-child .footer__logo {
    display: none;
  }
  .footer__container .footer__top .footer__wrap:first-child .footer__text-name {
    display: none;
  }
  .footer__container .footer__top .footer__wrap:nth-child(2) {
    max-width: 500px;
    min-height: 405px;
  }
  .footer__container .footer__top .footer__wrap:nth-child(2) .footer__logo {
    display: block;
    margin-bottom: 12px;
  }
  .footer__container .footer__top .footer__wrap:nth-child(2) .footer__text:nth-child(4) {
    margin-bottom: 12px;
  }
  .footer__container .footer__top .footer__wrap:nth-child(2) .footer__text:nth-child(6) {
    margin-bottom: 32px;
  }
  .footer__container .footer__top .footer__wrap:nth-child(2) .footer__text-name {
    display: block;
    margin-bottom: 32px !important;
  }
  .footer__container .footer__top .footer__wrap:nth-child(2) .footer__ageLimit {
    bottom: 0;
    left: 0;
    right: auto;
  }
  .footer__container .footer__bottom {
    display: block;
  }
  .footer__container .footer__bottom .footer__text:first-child {
    margin-bottom: 12px;
  }
}
@media (max-width: 960px) {
  .header__wrap-top .header__container .nav .list__item:nth-child(4) {
    display: none;
  }
  .header__wrap-top .header__container .nav .list__item:nth-child(6) {
    display: none;
  }
  .header__wrap-top .header__container .nav .list__item:nth-child(7) {
    display: none;
  }
  .header__wrap-middle .header__container {
    padding: 18px 16px;
    gap: 16px;
  }
  .header__wrap-middle .header__container .header__button-menu {
    margin-right: 0;
    padding: 18px 15px;
  }
  .header__wrap-middle .header__container .header__button-menu span {
    display: none;
  }
  .header__wrap-middle .header__container .header__logo {
    margin-right: 28px;
  }
  .header__wrap-bottom .header__container {
    padding: 11px 16px;
    gap: 32px;
  }
  .header__wrap-bottom .header__container .switch {
    gap: 8px;
  }
  .header__wrap-bottom .header__container .switch__wrap {
    width: 36px;
    height: 22px;
  }
  .header__wrap-bottom .header__container .switch__wrap .switch__slider::before {
    height: 14px;
    width: 14px;
  }
  .header__wrap-bottom .header__container .switch__option {
    font-size: 14px;
  }
  .header__wrap-bottom .header__container .header__buttons .header__button {
    font-size: 14px;
  }
  .header .header__menu .list {
    width: 250px;
  }
  .header .header__menu .list-2 {
    width: 200px;
    right: -185px;
  }
  .header .header__menu .list-3 {
    width: 150px;
    right: -150px;
  }
  .main .news__container .news__swiper .swiper-wrapper .slide {
    gap: 12px;
  }
  .main .news__container .news__swiper .swiper-wrapper .slide__img {
    min-width: 286px;
  }
  .main .news__container .news__swiper .swiper-wrapper .slide__content {
    padding: 12px 12px 20px 0;
  }
  .main .news__container .news__swiper .swiper-wrapper .slide__content .slide__title {
    font-size: 16px;
    height: 57px;
    line-height: 115%;
  }
  .main .news__container .news__swiper .swiper-wrapper .slide__content .slide__text {
    font-size: 14px;
    min-height: 135px;
    height: 135px;
    -webkit-line-clamp: 8;
  }
  .main .news__container .news__swiper .swiper-button-prev {
    left: 28%;
  }
  .main .news__container .news__swiper .swiper-button-next {
    right: 28%;
  }
  .main .news__container .news__wrap .asideInsideNews__container .asideInsideNews__wrap {
    padding: 12px;
    padding-bottom: 0;
    background-color: #f4f6f9;
  }
  .main .news__container .news__wrap .asideInsideNews__container .asideInsideNews__wrap .asideInsideNews__button {
    background-color: #ffffff;
    font-size: 14px;
    padding: 9px 17px;
  }
  .main .news__container .news__wrap .asideInsideNews__container .asideInsideNews__wrap .asideInsideNews__gratters .gratter {
    background-color: #ffffff;
  }
  .main .news__container .news__wrap .asideInsideNews__container .asideInsideNews__wrap .asideInsideNews__gratters::-webkit-scrollbar-track {
    background-color: #ffffff;
  }
  .main .news__container .news__wrap .asideInsideNews__container .asideInsideNews__wrap .asideInsideNews__ads .ad {
    background-color: #ffffff;
  }
  .main .news__container .news__wrap .asideInsideNews__container .asideInsideNews__wrap .asideInsideNews__ads::-webkit-scrollbar-track {
    background-color: #ffffff;
  }
  .main .news__container .news__wrap .asideInsideNews__container .card-new {
    min-width: 218px;
    display: block;
  }
  .main .news__container .news__wrap .asideInsideNews__container .card-new .card__img {
    height: 175px;
    margin-bottom: 8px;
  }
  .main .news__container .news__wrap .asideInsideNews__container .card-new .card__number {
    font-size: 16px;
  }
  .main .news__container .news__wrap .asideInsideNews__container .card-new .card__button {
    text-align: center;
    padding: 13px 0;
    width: 100%;
  }
  .main .news__container .news__wrap .news__basic .news__swiper-inside .swiper-button-prev {
    left: 28%;
  }
  .main .news__container .news__wrap .news__basic .news__swiper-inside .swiper-button-next {
    right: 28%;
  }
  .footer__container .footer__top {
    gap: 0;
  }
  .footer__container .footer__top .footer__wrap:last-child {
    gap: 24px;
  }
  .footer__container .footer__top .footer__wrap:first-child {
    gap: 50px;
  }
  .footer__container .footer__top .footer__wrap:nth-child(2) {
    max-width: 285px;
    min-height: unset;
    padding-bottom: 70px;
    margin-bottom: 44px;
  }
  .footer__container .footer__bottom {
    display: block;
  }
  .footer__container .footer__bottom .footer__text:first-child {
    margin-bottom: 12px;
  }
}
@media (max-width: 680px) {
  .container {
    padding: 0 12px;
  }
  .header__wrap-top .header__container {
    justify-content: center;
    padding: 19px 16px;
  }
  .header__wrap-top .header__container .header__logo {
    display: block;
  }
  .header__wrap-top .header__container .nav {
    display: none;
  }
  .header__wrap-top .header__container .header__phone {
    display: none;
  }
  .header__wrap-middle .header__container {
    padding: 12px 16px;
    justify-content: start;
  }
  .header__wrap-middle .header__container .header__button-menu {
    background-color: transparent;
    padding: 5px;
  }
  .header__wrap-middle .header__container .header__button-menu svg path {
    stroke: #d6383c;
  }
  .header__wrap-middle .header__container .header__button-menu:hover {
    background-color: transparent;
  }
  .header__wrap-middle .header__container .header__logo {
    display: none;
  }
  .header__wrap-middle .header__container .input__wrap {
    position: absolute;
    display: none;
    left: 16px;
    right: 16px;
    bottom: 12px;
    top: 12px;
    width: unset;
  }
  .header__wrap-middle .header__container .input__wrap .header__input {
    padding: 8px;
    font-size: 14px;
  }
  .header__wrap-middle .header__container .button-input {
    display: flex;
    margin-left: auto;
  }
  .header__wrap-middle .header__container .header__button-enter {
    padding: 4px 16px;
    line-height: 20px;
  }
  .header__wrap-bottom .header__container {
    padding: 11px 16px;
    gap: 32px;
  }
  .header__wrap-bottom .header__container .switch {
    display: none;
  }
  .header__wrap-bottom .header__container .header__buttons .header__button {
    font-size: 14px;
  }
  .header__wrap-bottom-visible-start {
    position: fixed;
    top: 56px;
  }
  .header__wrap-bottom-visible {
    transform: translateY(-90px);
  }
  .header .header__menu {
    width: 100%;
    padding: 32px 12px;
    overflow: scroll;
  }
  .header .header__menu .header__logo {
    display: none;
  }
  .header .header__menu .list {
    width: 100%;
  }
  .header .header__menu .list-2 {
    width: 100%;
    right: 0px;
    z-index: 1;
    top: 0 !important;
    padding: 0;
    padding: 32px 12px;
    background-color: #f4f6f9;
  }
  .header .header__menu .list-2 .item .item__button {
    width: 100%;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 16px 32px;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
  }
  .header .header__menu .list-2 .item:not(:last-child) {
    margin-bottom: 4px;
  }
  .header .header__menu .list-3 {
    width: 100%;
    right: 0;
    top: 0 !important;
    padding: 32px 12px;
    z-index: 10;
    background-color: #f4f6f9;
  }
  .header .header__menu .list-3 .item .item__button {
    width: 100%;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 16px 32px;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
  }
  .header .header__menu .list-3 .item:not(:last-child) {
    margin-bottom: 4px;
  }
  .header .header__menu .header__button {
    display: block;
  }
  .header .header__menu .menu-up {
    display: none;
  }
  .main {
    margin-bottom: 42px;
  }
  .main .news__container .news__swiper {
    margin-bottom: 32px;
    padding-bottom: 51px;
  }
  .main .news__container .news__swiper .swiper-wrapper .slide {
    flex-direction: column;
    gap: 0;
  }
  .main .news__container .news__swiper .swiper-wrapper .slide__img {
    border-radius: 16px 16px 0 0;
    height: 286px;
  }
  .main .news__container .news__swiper .swiper-wrapper .slide__content {
    padding: 12px 12px 20px 12px;
    gap: 12px;
  }
  .main .news__container .news__swiper .swiper-wrapper .slide__content .slide__info {
    flex-direction: column-reverse;
    justify-content: start;
    gap: 4px;
  }
  .main .news__container .news__swiper .swiper-wrapper .slide__content .slide__info .slide__topic {
    display: inline-block;
    margin-right: auto;
  }
  .main .news__container .news__swiper .swiper-wrapper .slide__content .slide__info .slide__date {
    margin-right: auto;
  }
  .main .news__container .news__swiper .swiper-wrapper .slide__content .slide__title {
    font-size: 14px;
    height: 50px;
    line-height: normal;
  }
  .main .news__container .news__swiper .swiper-wrapper .slide__content .slide__text {
    display: none;
  }
  .main .news__container .news__swiper .swiper-button-prev {
    left: 0;
  }
  .main .news__container .news__swiper .swiper-button-next {
    right: 0;
  }
  .main .news__container .news__wrap .asideInsideNews {
    min-width: unset;
  }
  .main .news__container .news__wrap .asideInsideNews__container {
    flex-direction: column;
  }
  .main .news__container .news__wrap .asideInsideNews__container .asideInsideNews__wrap {
    padding: 12px;
  }
  .main .news__container .news__wrap .news__basic {
    min-width: unset;
  }
  .main .news__container .news__wrap .news__basic .news__cards .card {
    flex-direction: column;
  }
  .main .news__container .news__wrap .news__basic .news__cards .card__img {
    border-radius: 16px 16px 0 0;
    height: 248px;
  }
  .main .news__container .news__wrap .news__basic .news__cards .card__content {
    padding: 12px 12px 18px 12px;
  }
  .main .news__container .news__wrap .news__basic .news__cards .card__content .card__info {
    flex-wrap: wrap;
    gap: 5px;
  }
  .main .news__container .news__wrap .news__basic .news__cards .card__content .card__info .card__topic {
    order: 3;
  }
  .main .news__container .news__wrap .news__basic .news__cards .card__content .card__title {
    margin: 0;
    font-size: 14px;
    font-style: normal;
    height: 45px;
  }
  .main .news__container .news__wrap .news__basic .news__cards .card__content .card__text {
    display: none;
  }
  .main .news__container .news__wrap .news__basic .news__swiper-inside {
    padding-bottom: 52px;
    margin-bottom: 42px;
  }
  .main .news__container .news__wrap .news__basic .news__swiper-inside .swiper-wrapper .slide {
    min-height: 342px;
    padding: 24px;
  }
  .main .news__container .news__wrap .news__basic .news__swiper-inside .swiper-wrapper .slide .slide__button {
    width: 100%;
    left: 0;
    right: 0;
  }
  .main .news__container .news__wrap .news__basic .news__swiper-inside .swiper-button-prev {
    left: 0;
  }
  .main .news__container .news__wrap .news__basic .news__swiper-inside .swiper-button-next {
    right: 0;
  }
  .footer__container .footer__top {
    margin-bottom: 32px;
  }
  .footer__container .footer__top .footer__wrap .footer__button {
    display: flex;
  }
  .footer__container .footer__top .footer__wrap:last-child {
    display: none;
  }
  .footer__container .footer__top .footer__wrap:first-child {
    display: block;
  }
  .footer__container .footer__top .footer__wrap:first-child .footer__text {
    font-size: 12px;
  }
  .footer__container .footer__top .footer__wrap:first-child .footer__text:not(:last-child) {
    margin-bottom: 12px;
  }
  .footer__container .footer__top .footer__wrap:nth-child(2) {
    margin-bottom: 32px;
  }
  .footer__container .footer__top .footer__wrap:nth-child(2) .footer__text:nth-child(6) {
    margin-bottom: 24px;
  }
  .footer__container .footer__top .footer__wrap:nth-child(2) .footer__text:nth-child(7) {
    font-size: 12px;
  }
  .footer__container .footer__bottom {
    display: block;
  }
  .footer__container .footer__bottom .footer__text {
    font-size: 10px;
  }
  .footer__container .footer__bottom .footer__text:first-child {
    margin-bottom: 12px;
  }
}/*# sourceMappingURL=style-index.css.map */