@import '../_vars.scss';
@import '../_mixin.scss';

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

img {
    max-width: 100%;
}

body {
    min-width: 320px;
    background-color: #f8f8f9;
    font-family: 'Inter';
    font-weight: 400;
    position: relative;
}

.button-reset {
    outline: none;
    background: none;
    border: none;
    &:focus-visible {
        outline: 2px solid black;
    }
}

.p-reset {
    margin: 0;
}

.container {
    max-width: 1488px;
    margin: 0 auto;
}

.header {
    top: 0;
    z-index: 100;
    margin-bottom: 10px;
    &__wrap {
        position: relative;
        &-top {
            background-color: $primary-dark;
            .header__container {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 20px 0;
                .header__logo {
                    display: none;
                }
                .nav {
                    color: $primary-light;
                    .list {
                        padding: 0;
                        margin: 0;
                        display: flex;
                        list-style: none;
                        gap: 32px;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: normal;
                        &__item {
                            a {
                                transition: color 0.3s ease-in-out;
                                color: $primary-light;
                                text-decoration: none;
                                &:hover {
                                    color: $red;
                                }
                            }
                        }
                    }
                }
                .header__phone {
                    color: $primary-light;
                    text-decoration: none;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: normal;
                    transition: color 0.3s ease-in-out;
                    &:hover {
                        color: $red;
                    }
                }
            }
        }
        &-middle {
            width: 100%;
            z-index: 10;
            background-color: $secondary-light;
            .header__container {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 18px 0;
                .header__button {
                    padding: 14px 24px;
                    border-radius: 6px;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: normal;
                    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, color 0.3s ease-in-out;
                    cursor: pointer;
                    &-menu {
                        background-color: $red;
                        color: $primary-light;
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        &:hover {
                            background-color: $hover-button;
                        }
                        &:active {
                            background-color: $active-button;
                        }
                    }
                    &-enter {
                        border: 2px solid $red;
                        color: $red;
                        padding: 14px 32px;
                        &:hover {
                            background-color: $hover-button-bg;
                            border-color: $hover-button;
                            color: $hover-button;
                        }
                        &:active {
                            background-color: $active-button-bg;
                            border-color: $active-button;
                            color: $active-button;
                        }
                    }
                }
                .header__logo {
                    margin-right: 30px;
                    img {
                        min-width: 165px;
                    }
                }
                .input__wrap {
                    position: relative;
                    width: 63%;
                    .header__input {
                        width: 100%;
                        border: 0;
                        border-radius: 4px;
                        padding: 14px;
                        font-size: 16px;
                        color: $grey;
                        line-height: normal;
                    }
                    .input__button {
                        cursor: pointer;
                        position: absolute;
                        display: flex;
                        align-items: center;
                        right: 14px;
                        top: 50%;
                        line-height: normal;
                        transform: translateY(-50%);
                        svg {
                            path {
                                transition: stroke 0.3s ease-in-out;
                            }
                        }
                        &:hover {
                            svg {
                                path {
                                    stroke: $red;
                                }
                            }
                        }
                    }
                }
            }
            &-visible {
                position: fixed;
                top: 0;
            }
        }
        &-bottom {
            width: 100%;
            border-bottom: 1px solid $grey-light;
            background-color: $primary-light;
            z-index: 8;
            transform: none;
            transition: transform 0.4s ease-in-out;
            .header__container {
                display: flex;
                align-items: center;
                gap: 32px;
                padding: 12px 0;
                .switch {
                    display: flex;
                    align-items: center;
                    gap: 12px;
                    &__option {
                        font-size: 18px;
                        font-weight: 500;
                        line-height: normal;
                        color: $secondary-dark;
                    }
                    &__wrap {
                        position: relative;
                        display: inline-block;
                        width: 48px;
                        height: 28px;
                        .switch__input {
                            display: none;
                        }
                        .switch__slider {
                            position: absolute;
                            cursor: pointer;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            background-color: #cfcfd7;
                            border-radius: 20px;
                            transition: background-color 0.3s ease-in-out;
                            &:before {
                                position: absolute;
                                content: '';
                                height: 20px;
                                width: 20px;
                                left: 4px;
                                bottom: 4px;
                                background-color: $primary-light;
                                border-radius: 15px;
                                transition: transform 0.3s ease-in-out;
                            }
                        }
                        .switch__input:checked + .switch__slider:before {
                            transform: translateX(20px);
                        }

                        .switch__input:checked + .switch__slider {
                            background-color: $red;
                        }
                    }
                }
                .header__buttons {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    gap: 12px;
                    overflow-x: scroll;
                    &::-webkit-scrollbar {
                        display: none;
                    }
                    .header__button {
                        white-space: nowrap;
                        cursor: pointer;
                        padding: 12px 18px;
                        background-color: $secondary-light;
                        font-size: 16px;
                        line-height: normal;
                        font-weight: 500;
                        color: $primary-dark;
                        border: 0;
                        border-radius: 28px;
                        transition: color 0.3s ease-in-out;
                        &:hover {
                            color: $red;
                        }
                    }
                }
            }
            &-visible-start {
                position: fixed;
                top: 86px;
            }
            &-visible {
                transform: translateY(-90px);
            }
        }
    }
}
.breadcrumb {
    max-width: 1488px;
    margin: 0 auto;
    &__list {
        font-size: 14px;
        font-weight: 500;
        line-height: normal;
        padding: 0;
        list-style-type: none;
        display: flex;
        gap: 8px;
        .breadcrumb__item {
            a {
                display: flex;
                justify-content: start;
                gap: 8px;
                text-decoration: none;
                color: #7d8591;
                height: 17px;
                overflow: hidden;
                transition: 0.3s ease-in-out;
                span {
                    margin: auto 0;
                    display: inline-block;
                    border-radius: 10px;
                    min-width: 4px;
                    height: 4px;
                    background-color: #7d8591;
                }
                &:hover {
                    color: $red;
                    span {
                        background-color: $red;
                    }
                }
            }
            &:last-child {
                a {
                    max-width: 434px;
                }
            }
        }
    }
}
.documentInfo {
    margin-bottom: 120px;
    &__container {
        .documentInfo__title {
            margin: 0;
            margin-bottom: 42px;
            font-size: 32px;
            color: $secondary-dark;
            font-weight: 600;
            line-height: normal;
        }
        .card {
            border-radius: 12px;
            background-color: $primary-light;
            padding: 42px;
            .info {
                // max-width: 798px;
                display: grid;
                grid-template-columns: 217px 589px;
                grid-column-gap: 32px;
                grid-row-gap: 12px;
                gap: 12px;
                margin-bottom: 24px;
                &__number {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    font-size: 14px;
                    color: $secondary-dark;
                    font-weight: 500;
                    line-height: normal;
                    span {
                        display: inline-block;
                        font-size: 14px;
                        color: #575672;
                        font-weight: 400;
                        line-height: normal;
                        padding: 8px 16px;
                        background-color: #f8f8f9;
                        border-radius: 28px;
                    }
                }
                &__date {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    font-size: 14px;
                    color: $secondary-dark;
                    font-weight: 500;
                    line-height: normal;
                    span {
                        display: inline-block;
                        font-size: 14px;
                        color: #575672;
                        font-weight: 400;
                        line-height: normal;
                        padding: 8px 16px;
                        background-color: #f8f8f9;
                        border-radius: 28px;
                    }
                }
                &__type {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    font-size: 14px;
                    color: $secondary-dark;
                    font-weight: 500;
                    line-height: normal;
                    span {
                        display: flex;
                        align-items: center;
                        gap: 8px;
                        font-size: 14px;
                        color: #575672;
                        font-weight: 400;
                        line-height: normal;
                        padding: 8px 16px;
                        background-color: #f8f8f9;
                        border-radius: 28px;
                        span {
                            display: inline-block;
                            padding: 0;
                            min-width: 8px;
                            height: 8px;
                            border-radius: 8px;
                            background-color: #8b89f1;
                        }
                    }
                }
                &__corp {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    font-size: 14px;
                    color: $secondary-dark;
                    font-weight: 500;
                    line-height: normal;
                    span {
                        display: flex;
                        align-items: center;
                        gap: 8px;
                        font-size: 14px;
                        color: #575672;
                        font-weight: 400;
                        line-height: normal;
                        padding: 8px 16px;
                        background-color: #f8f8f9;
                        border-radius: 28px;
                        span {
                            display: inline-block;
                            padding: 0;
                            min-width: 8px;
                            height: 8px;
                            border-radius: 8px;
                            background-color: #f189e3;
                        }
                    }
                }
            }
            .loading {
                border-radius: 8px;
                background-color: #f4f6f9;
                padding: 24px;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 12px;
                margin-bottom: 24px;
                &__title {
                    grid-area: 1 / 1 / 2 / 3;
                    margin: 0;
                    font-size: 18px;
                    color: $secondary-dark;
                    font-weight: 600;
                    line-height: normal;
                    margin-bottom: 24px;
                }
                &__wrap {
                    .loading__text {
                        margin: 0;
                        font-size: 14px;
                        color: #575672;
                        font-weight: 500;
                        line-height: normal;
                        margin-bottom: 8px;
                    }
                    label {
                        display: flex;
                        width: 100%;
                        background-color: $primary-light;
                        border: none;
                        border-radius: 4px;
                        padding: 16px;
                        align-items: center;
                        gap: 8px;
                        font-size: 14px;
                        color: #868599;
                        font-weight: 500;
                        line-height: normal;
                        transition: color 0.3s ease-in-out;
                        svg {
                            path {
                                transition: stroke 0.3s ease-in-out;
                            }
                        }
                        &:hover {
                            color: $green;
                            svg {
                                path {
                                    stroke: $green;
                                }
                            }
                        }
                    }
                    .loading__input {
                        display: none;
                    }
                }
            }
            &__date {
                margin: 0;
                font-size: 12px;
                color: #9f9eae;
                font-weight: 400;
                line-height: normal;
            }
        }
    }
}
.footer {
    background-color: $primary-dark;
    padding: 64px 0;
    color: $primary-light;
    &__container {
        .footer__text {
            font-size: 16px;
            line-height: normal;
            font-weight: 400;
        }
        .footer__button {
            display: none;
            width: 100%;
            background-color: $red;
            font-size: 16px;
            color: $primary-light;
            font-weight: 500;
            line-height: 20px;
            padding: 14px;
            display: flex;
            align-items: center;
            gap: 4px;
            justify-content: center;
            border-radius: 4px;
            margin-bottom: 32px;
        }
        .footer__top {
            display: flex;
            justify-content: space-between;
            margin-bottom: 44px;
            .footer__wrap {
                max-width: 416px;
                .footer__logo {
                    margin-bottom: 12px;
                }
                .footer__ageLimit {
                    // display: inline-block;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: normal;
                    padding: 17px 12px;
                    background-color: $red;
                    border-radius: 39px;
                }
                &:first-child {
                    .footer__text {
                        &:not(:last-child) {
                            margin-bottom: 32px;
                        }
                    }
                }
                &:nth-child(2) {
                    position: relative;
                    .footer__logo {
                        display: none;
                    }
                    .footer__text {
                        font-weight: 500;
                        &:not(:last-child) {
                            margin-bottom: 12px;
                        }
                        &:nth-child(4n) {
                            margin-bottom: 32px;
                        }
                        &:first-child {
                            display: none;
                        }
                    }
                    .footer__text-name {
                        display: none;
                        margin-bottom: 32px;
                    }
                }
                &:last-child {
                    display: flex;
                    gap: 124px;
                    .nav {
                        &__list {
                            padding: 0;
                            margin: 0;
                            display: flex;
                            flex-direction: column;
                            gap: 16px;
                            list-style: none;
                            font-weight: 500;
                            font-size: 18px;
                            line-height: normal;
                            .list__item {
                                a {
                                    transition: color 0.3s ease-in-out;
                                    color: $primary-light;
                                    text-decoration: none;
                                    &:hover {
                                        color: $red;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .footer__bottom {
            display: flex;
            gap: 32px;
            .footer__text {
                font-size: 14px;
            }
        }
    }
}
