@import '../_vars.scss';
@import '../_mixin.scss';

@media (max-width: 680px) {
    .container {
        padding: 0 12px;
    }
    .header {
        &__wrap {
            &-top {
                .header__container {
                    justify-content: center;
                    padding: 19px 16px;
                    .header__logo {
                        display: block;
                    }
                    .nav {
                        display: none;
                    }
                    .header__phone {
                        display: none;
                    }
                }
            }
            &-middle {
                .header__container {
                    padding: 12px 16px;
                    justify-content: start;
                    .header__button-menu {
                        background-color: transparent;
                        padding: 5px;
                        svg {
                            path {
                                stroke: $red;
                            }
                        }
                        &:hover {
                            background-color: transparent;
                        }
                    }
                    .header__logo {
                        display: none;
                    }
                    .input__wrap {
                        position: absolute;
                        display: none;
                        left: 16px;
                        right: 16px;
                        bottom: 12px;
                        top: 12px;
                        width: unset;
                        .header__input {
                            padding: 8px;
                            font-size: 14px;
                        }
                    }
                    .button-input {
                        display: flex;
                        margin-left: auto;
                    }
                    .header__button-enter {
                        padding: 4px 16px;
                        line-height: 20px;
                    }
                }
            }
            &-bottom {
                .header__container {
                    padding: 11px 16px;
                    gap: 32px;
                    .switch {
                        display: none;
                    }
                    .header__buttons {
                        .header__button {
                            font-size: 14px;
                        }
                    }
                }
                &-visible-start {
                    position: fixed;
                    top: 56px;
                }
                &-visible {
                    transform: translateY(-90px);
                }
            }
        }
        .header__menu {
            width: 100%;
            padding: 32px 12px;
            overflow: scroll;
            .header__logo {
                display: none;
            }
            .list {
                width: 100%;
                // &-1 {
                //     position: relative;
                // }
                &-2 {
                    width: 100%;
                    right: 0px;
                    // position: static;
                    z-index: 1;
                    top: 0 !important;
                    padding: 0;
                    padding: 32px 12px;
                    background-color: #f4f6f9;
                    .item {
                        .item__button {
                            width: 100%;
                            background-color: #ffffff;
                            border-radius: 8px;
                            padding: 16px 32px;
                            font-size: 16px;
                            // color: #0e0d35;
                            font-weight: 500;
                            line-height: normal;
                        }
                        &:not(:last-child) {
                            margin-bottom: 4px;
                        }
                    }
                }
                &-3 {
                    width: 100%;
                    right: 0;
                    top: 0 !important;
                    // padding: 0;
                    padding: 32px 12px;
                    // position: static;
                    z-index: 10;
                    background-color: #f4f6f9;
                    .item {
                        .item__button {
                            width: 100%;
                            background-color: #ffffff;
                            border-radius: 8px;
                            padding: 16px 32px;
                            font-size: 16px;
                            // color: #0e0d35;
                            font-weight: 500;
                            line-height: normal;
                        }
                        &:not(:last-child) {
                            margin-bottom: 4px;
                        }
                    }
                }
            }
            .header__button {
                display: block;
            }
            .menu-up {
                display: none;
            }
        }
    }
    .breadcrumb {
        padding: 0 12px;
        margin-bottom: 18px;
        &__list {
            flex-wrap: wrap;
        }
    }
    .documentInfo {
        margin-bottom: 42px;
        &__container {
            .documentInfo__title {
                font-size: 18px;
                margin-bottom: 24px;
            }
            .card {
                padding: 12px;
                .info {
                    display: flex;
                    flex-direction: column;
                    &__number {
                        flex-direction: column;
                        align-items: start;
                        gap: 4px;
                    }
                    &__type {
                        flex-direction: column;
                        align-items: start;
                        gap: 4px;
                    }
                    &__date {
                        flex-direction: column;
                        align-items: start;
                        gap: 4px;
                    }
                    &__corp {
                        flex-direction: column;
                        align-items: start;
                        gap: 4px;
                    }
                }
                .loading {
                    display: flex;
                    flex-direction: column;
                    padding: 8px;
                    &__wrap {
                        label {
                            white-space: nowrap;
                            font-size: 12px;
                            padding: 8px;
                        }
                    }
                }
            }
        }
    }
    .footer {
        &__container {
            .footer__top {
                margin-bottom: 32px;
                .footer__wrap {
                    .footer__button {
                        display: flex;
                    }
                    &:last-child {
                        display: none;
                    }
                    &:first-child {
                        display: block;
                        .footer__text {
                            font-size: 12px;
                            &:not(:last-child) {
                                margin-bottom: 12px;
                            }
                        }
                    }
                    &:nth-child(2) {
                        margin-bottom: 32px;
                        .footer__text {
                            &:nth-child(6) {
                                margin-bottom: 24px;
                            }
                            &:nth-child(7) {
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
            .footer__bottom {
                display: block;
                .footer__text {
                    font-size: 10px;
                    &:first-child {
                        margin-bottom: 12px;
                    }
                }
            }
        }
    }
}
