@import '../_vars.scss';
@import '../_mixin.scss';

@media (max-width: 960px) {
    .header {
        &__wrap {
            &-top {
                .header__container {
                    .nav {
                        .list {
                            &__item {
                                &:nth-child(4) {
                                    display: none;
                                }
                                &:nth-child(6) {
                                    display: none;
                                }
                                &:nth-child(7) {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
            &-middle {
                .header__container {
                    padding: 18px 16px;
                    gap: 16px;
                    .header__button-menu {
                        margin-right: 0;
                        padding: 18px 15px;
                        span {
                            display: none;
                        }
                    }
                    .header__logo {
                        margin-right: 28px;
                    }
                }
            }
            &-bottom {
                .header__container {
                    padding: 11px 16px;
                    gap: 32px;
                    .switch {
                        gap: 8px;
                        &__wrap {
                            width: 36px;
                            height: 22px;
                            .switch__slider {
                                &::before {
                                    height: 14px;
                                    width: 14px;
                                }
                            }
                        }
                        &__option {
                            font-size: 14px;
                        }
                    }
                    .header__buttons {
                        .header__button {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
        .header__menu {
            .list {
                width: 250px;
                &-2 {
                    width: 200px;
                    right: -185px;
                }
                &-3 {
                    width: 150px;
                    right: -150px;
                }
            }
        }
    }
    .documentInfo {
        // margin-bottom: 120px;
        &__container {
            .documentInfo__title {
            }
            .card {
                padding: 24px 12px;
                .info {
                    display: flex;
                    flex-direction: column;
                }
                .loading {
                    // padding: 12px;
                    grid-template-columns: repeat(1, 1fr);
                    &__title {
                        grid-area: 1 / 1 / 2 / 1;
                    }
                }
            }
        }
    }
    .footer {
        &__container {
            .footer__top {
                gap: 0;
                .footer__wrap {
                    &:last-child {
                        gap: 24px;
                    }
                    &:first-child {
                        gap: 50px;
                    }
                    &:nth-child(2) {
                        max-width: 285px;
                        min-height: unset;
                        padding-bottom: 70px;
                        margin-bottom: 44px;
                    }
                }
            }
            .footer__bottom {
                display: block;
                .footer__text:first-child {
                    margin-bottom: 12px;
                }
            }
        }
    }
}
