@font-face {
  font-family: "Inter";
  src: local("Inter-Regular"), local("Inter Regular"), url("../../font/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: local("Inter-Medium"), local("Inter Medium"), url("../../font/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: local("Inter-SemiBold"), local("Inter SemiBold"), url("../../font/Inter-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: local("Inter-Bold"), local("Inter Bold"), url("../../font/Inter-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

body {
  min-width: 320px;
  background-color: #f8f8f9;
  font-family: "Inter";
  font-weight: 400;
  position: relative;
}

.button-reset {
  outline: none;
  background: none;
  border: none;
}
.button-reset:focus-visible {
  outline: 2px solid black;
}

.p-reset {
  margin: 0;
}

.container {
  max-width: 1488px;
  margin: 0 auto;
}

.header {
  top: 0;
  z-index: 100;
  margin-bottom: 12px;
}
.header__wrap {
  position: relative;
}
.header__wrap-top {
  background-color: #111010;
}
.header__wrap-top .header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.header__wrap-top .header__container .header__logo {
  display: none;
}
.header__wrap-top .header__container .header__logo img {
  height: 100%;
}
.header__wrap-top .header__container .nav {
  color: #ffffff;
}
.header__wrap-top .header__container .nav .list {
  padding: 0;
  margin: 0;
  display: flex;
  list-style: none;
  gap: 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: normal;
}
.header__wrap-top .header__container .nav .list__item a {
  transition: color 0.3s ease-in-out;
  color: #ffffff;
  text-decoration: none;
}
.header__wrap-top .header__container .nav .list__item a:hover {
  color: #d6383c;
}
.header__wrap-top .header__container .header__phone {
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: normal;
  transition: color 0.3s ease-in-out;
}
.header__wrap-top .header__container .header__phone:hover {
  color: #d6383c;
}
.header__wrap-middle {
  width: 100%;
  z-index: 10;
  background-color: #f5f5f5;
}
.header__wrap-middle .header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 0;
}
.header__wrap-middle .header__container .header__button {
  padding: 14px 24px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, color 0.3s ease-in-out;
  cursor: pointer;
}
.header__wrap-middle .header__container .header__button-menu {
  background-color: #d6383c;
  color: #ffffff;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 17px 24px;
}
.header__wrap-middle .header__container .header__button-menu:hover {
  background-color: #f9454a;
}
.header__wrap-middle .header__container .header__button-menu:active {
  background-color: #4b0002;
}
.header__wrap-middle .header__container .header__button-enter {
  border: 2px solid #d6383c;
  color: #d6383c;
  padding: 14px 32px;
}
.header__wrap-middle .header__container .header__button-enter:hover {
  background-color: #fbebec;
  border-color: #f9454a;
  color: #f9454a;
}
.header__wrap-middle .header__container .header__button-enter:active {
  background-color: #f7d7d8;
  border-color: #4b0002;
  color: #4b0002;
}
.header__wrap-middle .header__container .header__logo {
  margin-right: 30px;
  display: flex;
  align-items: center;
}
.header__wrap-middle .header__container .header__logo img {
  height: 100%;
}
.header__wrap-middle .header__container .input__wrap {
  position: relative;
  width: 63%;
}
.header__wrap-middle .header__container .input__wrap .header__input {
  width: 100%;
  border: 0;
  border-radius: 4px;
  padding: 14px;
  font-size: 16px;
  color: #0e0d35;
  line-height: normal;
}
.header__wrap-middle .header__container .input__wrap .header__input:focus {
  outline: 2px solid #049300;
}
.header__wrap-middle .header__container .input__wrap .input__button {
  position: absolute;
  display: flex;
  align-items: center;
  right: 14px;
  top: 50%;
  line-height: normal;
  transform: translateY(-50%);
}
.header__wrap-middle .header__container .button-input {
  display: none;
  align-items: center;
}
.header__wrap-middle-visible {
  position: fixed;
  top: 0;
}
.header__wrap-bottom {
  width: 100%;
  border-bottom: 1px solid #e4e4e4;
  background-color: #ffffff;
  z-index: 8;
  transform: none;
  transition: transform 0.4s ease-in-out;
}
.header__wrap-bottom .header__container {
  display: flex;
  align-items: center;
  gap: 32px;
  padding: 12px 0;
}
.header__wrap-bottom .header__container .switch {
  display: flex;
  align-items: center;
  gap: 12px;
}
.header__wrap-bottom .header__container .switch__option {
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
  color: #0e0d35;
}
.header__wrap-bottom .header__container .switch__wrap {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 28px;
}
.header__wrap-bottom .header__container .switch__wrap .switch__input {
  display: none;
}
.header__wrap-bottom .header__container .switch__wrap .switch__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #cfcfd7;
  border-radius: 20px;
  transition: background-color 0.3s ease-in-out;
}
.header__wrap-bottom .header__container .switch__wrap .switch__slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: #ffffff;
  border-radius: 15px;
  transition: transform 0.3s ease-in-out;
}
.header__wrap-bottom .header__container .switch__wrap .switch__input:checked + .switch__slider:before {
  transform: translateX(20px);
}
.header__wrap-bottom .header__container .switch__wrap .switch__input:checked + .switch__slider {
  background-color: #d6383c;
}
.header__wrap-bottom .header__container .header__buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 12px;
  overflow-x: scroll;
}
.header__wrap-bottom .header__container .header__buttons::-webkit-scrollbar {
  display: none;
}
.header__wrap-bottom .header__container .header__buttons .header__button {
  white-space: nowrap;
  cursor: pointer;
  padding: 12px 18px;
  background-color: #f5f5f5;
  font-size: 16px;
  line-height: normal;
  font-weight: 500;
  color: #111010;
  border: 0;
  border-radius: 28px;
  transition: color 0.3s ease-in-out;
}
.header__wrap-bottom .header__container .header__buttons .header__button:hover {
  color: #d6383c;
}
.header__wrap-bottom-visible-start {
  position: fixed;
  top: 86px;
}
.header__wrap-bottom-visible {
  transform: translateY(-90px);
}
.header .header__menu {
  transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
  transform: translateX(-608px);
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  height: 100vh;
  background-color: #f4f6f9;
  box-shadow: 182px 0px 51px 0px rgba(0, 0, 0, 0), 117px 0px 47px 0px rgba(0, 0, 0, 0.01), 66px 0px 39px 0px rgba(0, 0, 0, 0.05), 29px 0px 29px 0px rgba(0, 0, 0, 0.09), 7px 0px 16px 0px rgba(0, 0, 0, 0.1);
  padding: 48px 48px 160px 48px;
}
.header .header__menu .header__logo {
  margin-bottom: 32px;
  display: block;
}
.header .header__menu .list {
  list-style: none;
  width: 512px;
  padding: 0;
  position: relative;
}
.header .header__menu .list__item {
  padding: 0;
  position: relative;
}
.header .header__menu .list__item .item__button {
  width: 100%;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 16px 32px;
  font-size: 16px;
  color: #0e0d35;
  font-weight: 500;
  line-height: normal;
  display: flex;
  justify-content: space-between;
  transition: color 0.3s ease-in-out;
}
.header .header__menu .list__item .item__button svg path {
  transition: stroke 0.3s ease-in-out;
}
.header .header__menu .list__item .item__button:hover {
  color: #d6383c;
}
.header .header__menu .list__item .item__button:hover svg path {
  stroke: #d6383c;
}
.header .header__menu .list__item .item__button--active svg path {
  stroke: #d6383c;
}
.header .header__menu .list__item:not(:last-child) {
  margin-bottom: 4px;
}
.header .header__menu .list-2 {
  border-radius: 8px;
  width: 578px;
  padding: 24px;
  position: absolute;
  background-color: #ffffff;
  border-radius: 8px;
  right: -590px;
  top: 0;
  z-index: 1000;
}
.header .header__menu .list-2 .list__item {
  padding: 0;
}
.header .header__menu .list-2 .list__item .item__button {
  border-radius: 8px;
  padding: 4px 12px;
  font-size: 14px;
  color: #0e0d35;
  font-weight: 500;
  line-height: normal;
  display: flex;
  justify-content: space-between;
}
.header .header__menu .list-2 .list__item .item__button:hover {
  color: #d6383c;
}
.header .header__menu .list-2 .list__item:not(:last-child) {
  margin-bottom: 4px;
}
.header .header__menu .list-3 {
  border-radius: 8px;
  padding: 24px;
  width: 318px;
  position: absolute;
  background-color: #ffffff;
  border-radius: 8px;
  right: -353px;
  top: -24px;
}
.header .header__menu .list-3 .list__item {
  padding: 0;
}
.header .header__menu .list-3 .list__item .item__button {
  border-radius: 8px;
  padding: 4px 12px;
  font-size: 14px;
  color: #0e0d35;
  font-weight: 500;
  line-height: normal;
  display: flex;
  justify-content: space-between;
}
.header .header__menu .list-3 .list__item .item__button:hover {
  color: #d6383c;
}
.header .header__menu .list-3 .list__item:not(:last-child) {
  margin-bottom: 4px;
}
.header .header__menu .header__button {
  display: none;
  width: 100%;
  padding: 14px 32px;
  border-radius: 4px;
  background-color: #ffffff;
  font-size: 16px;
  color: #9f9eae;
  font-weight: 500;
  line-height: 20px;
}
.header .header__menu .menu-up {
  display: none;
  background-color: #d6383c;
  color: #ffffff;
  margin-bottom: 8px;
}
.header .header__menu--active {
  visibility: visible;
  transform: none;
}

.menu__overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.5;
  z-index: 10;
}

.breadcrumb {
  max-width: 1488px;
  margin: 0 auto;
}
.breadcrumb__list {
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 8px;
}
.breadcrumb__list .breadcrumb__item a {
  display: flex;
  justify-content: start;
  gap: 8px;
  text-decoration: none;
  color: #7d8591;
  height: 17px;
  overflow: hidden;
  transition: 0.3s ease-in-out;
}
.breadcrumb__list .breadcrumb__item a span {
  margin: auto 0;
  display: inline-block;
  border-radius: 10px;
  min-width: 4px;
  height: 4px;
  background-color: #7d8591;
}
.breadcrumb__list .breadcrumb__item a:hover {
  color: #d6383c;
}
.breadcrumb__list .breadcrumb__item a:hover span {
  background-color: #d6383c;
}
.breadcrumb__list .breadcrumb__item:last-child a {
  max-width: 434px;
}

.documentInfo {
  margin-bottom: 120px;
}
.documentInfo__container .documentInfo__title {
  margin: 0;
  margin-bottom: 42px;
  font-size: 32px;
  color: #0e0d35;
  font-weight: 600;
  line-height: normal;
}
.documentInfo__container .card {
  border-radius: 12px;
  background-color: #ffffff;
  padding: 42px;
  margin-bottom: 32px;
}
.documentInfo__container .card .info {
  display: grid;
  grid-template-columns: 217px 589px;
  grid-column-gap: 32px;
  grid-row-gap: 12px;
  gap: 12px;
  margin-bottom: 24px;
}
.documentInfo__container .card .info__number {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  color: #0e0d35;
  font-weight: 500;
  line-height: normal;
}
.documentInfo__container .card .info__number span {
  display: inline-block;
  font-size: 14px;
  color: #575672;
  font-weight: 400;
  line-height: normal;
  padding: 8px 16px;
  background-color: #f8f8f9;
  border-radius: 28px;
}
.documentInfo__container .card .info__date {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  color: #0e0d35;
  font-weight: 500;
  line-height: normal;
}
.documentInfo__container .card .info__date span {
  display: inline-block;
  font-size: 14px;
  color: #575672;
  font-weight: 400;
  line-height: normal;
  padding: 8px 16px;
  background-color: #f8f8f9;
  border-radius: 28px;
}
.documentInfo__container .card .info__type {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  color: #0e0d35;
  font-weight: 500;
  line-height: normal;
}
.documentInfo__container .card .info__type span {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  color: #575672;
  font-weight: 400;
  line-height: normal;
  padding: 8px 16px;
  background-color: #f8f8f9;
  border-radius: 28px;
}
.documentInfo__container .card .info__type span span {
  display: inline-block;
  padding: 0;
  min-width: 8px;
  height: 8px;
  border-radius: 8px;
  background-color: #8b89f1;
}
.documentInfo__container .card .info__corp {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  color: #0e0d35;
  font-weight: 500;
  line-height: normal;
}
.documentInfo__container .card .info__corp span {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  color: #575672;
  font-weight: 400;
  line-height: normal;
  padding: 8px 16px;
  background-color: #f8f8f9;
  border-radius: 28px;
}
.documentInfo__container .card .info__corp span span {
  display: inline-block;
  padding: 0;
  min-width: 8px;
  height: 8px;
  border-radius: 8px;
  background-color: #f189e3;
}
.documentInfo__container .card .loading {
  border-radius: 8px;
  background-color: #f4f6f9;
  padding: 24px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  margin-bottom: 24px;
}
.documentInfo__container .card .loading__title {
  grid-area: 1/1/2/3;
  margin: 0;
  font-size: 18px;
  color: #0e0d35;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 24px;
}
.documentInfo__container .card .loading__wrap .loading__text {
  margin: 0;
  font-size: 14px;
  color: #575672;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 8px;
}
.documentInfo__container .card .loading__wrap .loading__file {
  text-decoration: none;
  display: flex;
  width: 100%;
  background-color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 16px;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  color: #868599;
  font-weight: 500;
  line-height: normal;
  transition: color 0.3s ease-in-out;
}
.documentInfo__container .card .loading__wrap .loading__file svg path {
  transition: stroke 0.3s ease-in-out;
}
.documentInfo__container .card .loading__wrap .loading__file:hover {
  color: #049300;
}
.documentInfo__container .card .loading__wrap .loading__file:hover svg path {
  stroke: #049300;
}
.documentInfo__container .card .loading__wrap .loading__input {
  display: none;
}
.documentInfo__container .card__date {
  margin: 0;
  font-size: 12px;
  color: #9f9eae;
  font-weight: 400;
  line-height: normal;
}
.documentInfo__container .documentInfo__button {
  text-decoration: none;
  display: block;
  width: 150px;
  background-color: #d6383c;
  color: #ffffff;
  margin: 0 auto;
  padding: 14px 50px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  transition: background-color 0.3s ease-in-out;
}
.documentInfo__container .documentInfo__button:hover {
  background-color: #f9454a;
}
.documentInfo__container .documentInfo__button:active {
  background-color: #4b0002;
}

.footer {
  background-color: #111010;
  padding: 64px 0;
  color: #ffffff;
}
.footer__container .footer__text {
  font-size: 16px;
  line-height: normal;
  font-weight: 400;
}
.footer__container .footer__button {
  display: none;
  width: 100%;
  background-color: #d6383c;
  font-size: 16px;
  color: #ffffff;
  font-weight: 500;
  line-height: 20px;
  padding: 14px;
  align-items: center;
  gap: 4px;
  justify-content: center;
  border-radius: 4px;
  margin-bottom: 32px;
}
.footer__container .footer__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 44px;
}
.footer__container .footer__top .footer__wrap {
  max-width: 416px;
}
.footer__container .footer__top .footer__wrap .footer__logo {
  margin-bottom: 12px;
}
.footer__container .footer__top .footer__wrap .footer__ageLimit {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  padding: 17px 12px;
  background-color: #d6383c;
  border-radius: 39px;
}
.footer__container .footer__top .footer__wrap:first-child .footer__text:not(:last-child) {
  margin-bottom: 32px;
}
.footer__container .footer__top .footer__wrap:nth-child(2) {
  position: relative;
}
.footer__container .footer__top .footer__wrap:nth-child(2) .footer__logo {
  display: none;
}
.footer__container .footer__top .footer__wrap:nth-child(2) .footer__text {
  font-weight: 500;
}
.footer__container .footer__top .footer__wrap:nth-child(2) .footer__text:not(:last-child) {
  margin-bottom: 12px;
}
.footer__container .footer__top .footer__wrap:nth-child(2) .footer__text:nth-child(4n) {
  margin-bottom: 32px;
}
.footer__container .footer__top .footer__wrap:nth-child(2) .footer__text:first-child {
  display: none;
}
.footer__container .footer__top .footer__wrap:nth-child(2) .footer__text-name {
  display: none;
  margin-bottom: 32px;
}
.footer__container .footer__top .footer__wrap:last-child {
  display: flex;
  gap: 124px;
}
.footer__container .footer__top .footer__wrap:last-child .nav__list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style: none;
  font-weight: 500;
  font-size: 18px;
  line-height: normal;
}
.footer__container .footer__top .footer__wrap:last-child .nav__list .list__item a {
  transition: color 0.3s ease-in-out;
  color: #ffffff;
  text-decoration: none;
}
.footer__container .footer__top .footer__wrap:last-child .nav__list .list__item a:hover {
  color: #d6383c;
}
.footer__container .footer__bottom {
  display: flex;
  gap: 32px;
}
.footer__container .footer__bottom .footer__text {
  font-size: 14px;
}

@media (max-width: 1600px) {
  .container {
    padding: 0 80px;
    max-width: unset;
  }
  .header__wrap-top .header__container {
    padding: 20px 80px;
  }
  .header__wrap-middle .header__container {
    padding: 18px 80px;
    gap: 32px;
  }
  .header__wrap-middle .header__container .header__logo {
    margin-right: 30px;
  }
  .header__wrap-bottom .header__container {
    padding: 12px 80px;
    gap: 44px;
  }
  .breadcrumb {
    padding: 0 80px;
  }
  .footer__container .footer__text {
    line-height: 120%;
  }
  .footer__container .footer__top {
    margin-bottom: 30px;
  }
  .footer__container .footer__top .footer__wrap {
    max-width: 347px;
  }
  .footer__container .footer__top .footer__wrap .footer__logo {
    margin-bottom: 8px;
  }
  .footer__container .footer__top .footer__wrap .footer__ageLimit {
    bottom: 17px;
  }
  .footer__container .footer__top .footer__wrap:last-child {
    gap: 53px;
  }
  .footer__container .footer__top .footer__wrap:last-child .nav__list {
    gap: 17px;
  }
}
@media (max-width: 1400px) {
  .header .header__menu .list {
    width: 350px;
  }
  .header .header__menu .list-2 {
    width: 300px;
    right: -312px;
  }
  .header .header__menu .list-3 {
    width: 250px;
    right: -286px;
  }
  .footer__container .footer__top {
    margin-bottom: 44px;
  }
  .footer__container .footer__top .footer__wrap {
    max-width: 335px;
  }
  .footer__container .footer__top .footer__wrap .footer__ageLimit {
    bottom: 0;
  }
  .footer__container .footer__top .footer__wrap:last-child {
    gap: 43px;
  }
  .footer__container .footer__top .footer__wrap:last-child .nav__list {
    gap: 17px;
  }
}
@media (max-width: 1280px) {
  .container {
    padding: 0 16px;
    max-width: unset;
  }
  .header__wrap-top .header__container {
    padding: 20px 16px;
  }
  .header__wrap-top .header__container .nav .list {
    gap: 12px;
  }
  .header__wrap-middle .header__container {
    padding: 18px 16px;
    gap: 16px;
  }
  .header__wrap-middle .header__container .header__button-menu {
    margin-right: 16px;
  }
  .header__wrap-middle .header__container .header__logo {
    margin-right: 42px;
  }
  .header__wrap-bottom .header__container {
    padding: 10px 16px;
  }
  .header .header__menu {
    padding: 48px 16px;
  }
  .header .header__menu .list {
    width: 364px;
  }
  .header .header__menu .list-2 {
    padding: 16px;
    width: 268px;
    right: -280px;
  }
  .header .header__menu .list-3 {
    padding: 16px;
    width: 268px;
    right: -292px;
    top: -16px;
  }
  .breadcrumb {
    padding: 0 16px;
  }
  .documentInfo {
    margin-bottom: 80px;
  }
  .documentInfo__container .documentInfo__title {
    font-size: 24px;
  }
  .footer {
    padding: 42px 0;
  }
  .footer__container .footer__text {
    line-height: 120%;
  }
  .footer__container .footer__top {
    margin-bottom: 12px;
    flex-wrap: wrap;
    gap: 44px;
  }
  .footer__container .footer__top .footer__wrap {
    max-width: unset;
  }
  .footer__container .footer__top .footer__wrap .footer__logo {
    margin-bottom: 8px;
  }
  .footer__container .footer__top .footer__wrap .footer__ageLimit {
    bottom: 17px;
  }
  .footer__container .footer__top .footer__wrap:last-child {
    gap: 80px;
  }
  .footer__container .footer__top .footer__wrap:first-child {
    order: 3;
    display: flex;
    gap: 60px;
  }
  .footer__container .footer__top .footer__wrap:first-child .footer__logo {
    display: none;
  }
  .footer__container .footer__top .footer__wrap:first-child .footer__text-name {
    display: none;
  }
  .footer__container .footer__top .footer__wrap:nth-child(2) {
    max-width: 500px;
    min-height: 405px;
  }
  .footer__container .footer__top .footer__wrap:nth-child(2) .footer__logo {
    display: block;
    margin-bottom: 12px;
  }
  .footer__container .footer__top .footer__wrap:nth-child(2) .footer__text:nth-child(4) {
    margin-bottom: 12px;
  }
  .footer__container .footer__top .footer__wrap:nth-child(2) .footer__text:nth-child(6) {
    margin-bottom: 32px;
  }
  .footer__container .footer__top .footer__wrap:nth-child(2) .footer__text-name {
    display: block;
    margin-bottom: 32px !important;
  }
  .footer__container .footer__top .footer__wrap:nth-child(2) .footer__ageLimit {
    bottom: 0;
    left: 0;
    right: auto;
  }
  .footer__container .footer__bottom {
    display: block;
  }
  .footer__container .footer__bottom .footer__text:first-child {
    margin-bottom: 12px;
  }
}
@media (max-width: 960px) {
  .header__wrap-top .header__container .nav .list__item:nth-child(4) {
    display: none;
  }
  .header__wrap-top .header__container .nav .list__item:nth-child(6) {
    display: none;
  }
  .header__wrap-top .header__container .nav .list__item:nth-child(7) {
    display: none;
  }
  .header__wrap-middle .header__container {
    padding: 18px 16px;
    gap: 16px;
  }
  .header__wrap-middle .header__container .header__button-menu {
    margin-right: 0;
    padding: 18px 15px;
  }
  .header__wrap-middle .header__container .header__button-menu span {
    display: none;
  }
  .header__wrap-middle .header__container .header__logo {
    margin-right: 28px;
  }
  .header__wrap-bottom .header__container {
    padding: 11px 16px;
    gap: 32px;
  }
  .header__wrap-bottom .header__container .switch {
    gap: 8px;
  }
  .header__wrap-bottom .header__container .switch__wrap {
    width: 36px;
    height: 22px;
  }
  .header__wrap-bottom .header__container .switch__wrap .switch__slider::before {
    height: 14px;
    width: 14px;
  }
  .header__wrap-bottom .header__container .switch__option {
    font-size: 14px;
  }
  .header__wrap-bottom .header__container .header__buttons .header__button {
    font-size: 14px;
  }
  .header .header__menu {
    width: 100%;
    padding: 32px 12px;
    overflow: scroll;
  }
  .header .header__menu .header__logo {
    display: none;
  }
  .header .header__menu .list {
    width: 100%;
  }
  .header .header__menu .list-2 {
    width: 100%;
    right: 0px;
    z-index: 1;
    top: 0 !important;
    padding: 0;
    padding: 32px 12px;
    background-color: #f4f6f9;
  }
  .header .header__menu .list-2 .item .item__button {
    width: 100%;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 16px 32px;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
  }
  .header .header__menu .list-2 .item:not(:last-child) {
    margin-bottom: 4px;
  }
  .header .header__menu .list-3 {
    width: 100%;
    right: 0;
    top: 0 !important;
    padding: 32px 12px;
    z-index: 10;
    background-color: #f4f6f9;
  }
  .header .header__menu .list-3 .item .item__button {
    width: 100%;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 16px 32px;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
  }
  .header .header__menu .list-3 .item:not(:last-child) {
    margin-bottom: 4px;
  }
  .header .header__menu .header__button {
    display: block;
  }
  .header .header__menu .menu-up {
    display: none;
  }
  .documentInfo__container .card {
    padding: 24px 12px;
  }
  .documentInfo__container .card .info {
    display: flex;
    flex-direction: column;
  }
  .documentInfo__container .card .loading {
    grid-template-columns: repeat(1, 1fr);
  }
  .documentInfo__container .card .loading__title {
    grid-area: 1/1/2/1;
  }
  .footer__container .footer__top {
    gap: 0;
  }
  .footer__container .footer__top .footer__wrap:last-child {
    gap: 24px;
  }
  .footer__container .footer__top .footer__wrap:first-child {
    gap: 50px;
  }
  .footer__container .footer__top .footer__wrap:nth-child(2) {
    max-width: 285px;
    min-height: unset;
    padding-bottom: 70px;
    margin-bottom: 44px;
  }
  .footer__container .footer__bottom {
    display: block;
  }
  .footer__container .footer__bottom .footer__text:first-child {
    margin-bottom: 12px;
  }
}
@media (max-width: 680px) {
  .container {
    padding: 0 12px;
  }
  .header__wrap-top .header__container {
    justify-content: center;
    padding: 19px 16px;
  }
  .header__wrap-top .header__container .header__logo {
    display: block;
  }
  .header__wrap-top .header__container .nav {
    display: none;
  }
  .header__wrap-top .header__container .header__phone {
    display: none;
  }
  .header__wrap-middle .header__container {
    padding: 12px 16px;
    justify-content: start;
  }
  .header__wrap-middle .header__container .header__button-menu {
    background-color: transparent;
    padding: 5px;
  }
  .header__wrap-middle .header__container .header__button-menu svg path {
    stroke: #d6383c;
  }
  .header__wrap-middle .header__container .header__button-menu:hover {
    background-color: transparent;
  }
  .header__wrap-middle .header__container .header__logo {
    display: none;
  }
  .header__wrap-middle .header__container .input__wrap {
    position: absolute;
    display: none;
    left: 16px;
    right: 16px;
    bottom: 12px;
    top: 12px;
    width: unset;
  }
  .header__wrap-middle .header__container .input__wrap .header__input {
    padding: 8px;
    font-size: 14px;
  }
  .header__wrap-middle .header__container .button-input {
    display: flex;
    margin-left: auto;
  }
  .header__wrap-middle .header__container .header__button-enter {
    padding: 4px 16px;
    line-height: 20px;
  }
  .header__wrap-bottom .header__container {
    padding: 11px 16px;
    gap: 32px;
  }
  .header__wrap-bottom .header__container .switch {
    display: none;
  }
  .header__wrap-bottom .header__container .header__buttons .header__button {
    font-size: 14px;
  }
  .header__wrap-bottom-visible-start {
    position: fixed;
    top: 56px;
  }
  .header__wrap-bottom-visible {
    transform: translateY(-90px);
  }
  .breadcrumb {
    padding: 0 12px;
    margin-bottom: 18px;
  }
  .breadcrumb__list {
    flex-wrap: wrap;
  }
  .documentInfo {
    margin-bottom: 42px;
  }
  .documentInfo__container .documentInfo__title {
    font-size: 18px;
    margin-bottom: 24px;
  }
  .documentInfo__container .card {
    padding: 12px;
  }
  .documentInfo__container .card .info {
    display: flex;
    flex-direction: column;
  }
  .documentInfo__container .card .info__number {
    flex-direction: column;
    align-items: start;
    gap: 4px;
  }
  .documentInfo__container .card .info__type {
    flex-direction: column;
    align-items: start;
    gap: 4px;
  }
  .documentInfo__container .card .info__date {
    flex-direction: column;
    align-items: start;
    gap: 4px;
  }
  .documentInfo__container .card .info__corp {
    flex-direction: column;
    align-items: start;
    gap: 4px;
  }
  .documentInfo__container .card .loading {
    display: flex;
    flex-direction: column;
    padding: 8px;
  }
  .documentInfo__container .card .loading__wrap label {
    white-space: nowrap;
    font-size: 12px;
    padding: 8px;
  }
  .footer__container .footer__top {
    margin-bottom: 32px;
  }
  .footer__container .footer__top .footer__wrap .footer__button {
    display: flex;
  }
  .footer__container .footer__top .footer__wrap:last-child {
    display: none;
  }
  .footer__container .footer__top .footer__wrap:first-child {
    display: block;
  }
  .footer__container .footer__top .footer__wrap:first-child .footer__text {
    font-size: 12px;
  }
  .footer__container .footer__top .footer__wrap:first-child .footer__text:not(:last-child) {
    margin-bottom: 12px;
  }
  .footer__container .footer__top .footer__wrap:nth-child(2) {
    margin-bottom: 32px;
  }
  .footer__container .footer__top .footer__wrap:nth-child(2) .footer__text:nth-child(6) {
    margin-bottom: 24px;
  }
  .footer__container .footer__top .footer__wrap:nth-child(2) .footer__text:nth-child(7) {
    font-size: 12px;
  }
  .footer__container .footer__bottom {
    display: block;
  }
  .footer__container .footer__bottom .footer__text {
    font-size: 10px;
  }
  .footer__container .footer__bottom .footer__text:first-child {
    margin-bottom: 12px;
  }
}/*# sourceMappingURL=style-documentInfo.css.map */