@font-face {
    font-family: 'Inter';
    src: local('Inter-Regular'), local('Inter Regular'), url('../../font/Inter-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: local('Inter-Medium'), local('Inter Medium'), url('../../font/Inter-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: local('Inter-SemiBold'), local('Inter SemiBold'), url('../../font/Inter-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: local('Inter-Bold'), local('Inter Bold'), url('../../font/Inter-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
