// $primary-dark: #364f53;
// $primary-light: #5e7d75;
// $white: #ffffff;
// $black: #000000;
// $beige: #ede4db;
// $hover-white: #cecece;
// $active-white: #929292;
// $hover-primary-dark: #506861;
// $active-primary-dark: #3b4a46;
// $error: #fd4e5d;
$primary-dark: #111010;
$primary-light: #ffffff;
$secondary-light: #f5f5f5;
$secondary-dark: #0e0d35;

$grey: #7e7e7e;

$green: #049300;
$green-light: #dbffda;

$red: #d6383c;
