@font-face {
  font-family: "Inter";
  src: local("Inter-Regular"), local("Inter Regular"), url("../font/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: local("Inter-Medium"), local("Inter Medium"), url("../font/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: local("Inter-SemiBold"), local("Inter SemiBold"), url("../font/Inter-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: local("Inter-Bold"), local("Inter Bold"), url("../font/Inter-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

body {
  min-width: 320px;
  font-family: "Inter";
  font-weight: 400;
  position: relative;
}

.button-reset {
  outline: none;
  background: none;
  border: none;
}
.button-reset:focus-visible {
  outline: 2px solid black;
}

.p-reset {
  margin: 0;
}

.container {
  max-width: 1488px;
  margin: 0 auto;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}
.header__wrap {
  position: relative;
}
.header__wrap-top {
  background-color: #111010;
  display: none;
}
.header__wrap-top .header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.header__wrap-top .header__container .nav {
  color: #ffffff;
}
.header__wrap-top .header__container .nav .list {
  padding: 0;
  margin: 0;
  display: flex;
  list-style: none;
  gap: 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: normal;
}
.header__wrap-top .header__container .header__phone {
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: normal;
}
.header__wrap-top-visible {
  display: block;
}
.header__wrap-middle {
  width: 100%;
  z-index: 10;
  background-color: #f5f5f5;
}
.header__wrap-middle .header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.header__wrap-middle .header__container .header__button {
  padding: 14px 24px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
}
.header__wrap-middle .header__container .header__button-menu {
  background-color: #d6383c;
  color: #ffffff;
  display: flex;
  align-items: center;
  gap: 10px;
}
.header__wrap-middle .header__container .header__button-enter {
  border: 1.5px solid #d6383c;
  color: #d6383c;
  padding: 14px 43px;
}
.header__wrap-middle .header__container .header__logo {
  margin-right: 30px;
}
.header__wrap-middle .header__container .input__wrap {
  position: relative;
  width: 63%;
}
.header__wrap-middle .header__container .input__wrap .header__input {
  width: 100%;
  border: 0;
  border-radius: 4px;
  padding: 14px;
  font-size: 16px;
  color: #7e7e7e;
  line-height: normal;
}
.header__wrap-middle .header__container .input__wrap .input__button {
  position: absolute;
  right: 14px;
  top: 50%;
  line-height: normal;
  transform: translateY(-50%);
}
.header__wrap-bottom {
  position: sticky;
  border-bottom: 1px solid #e4e4e4;
  background-color: #ffffff;
  z-index: 8;
  transform: translateY(-67px);
  transition: transform 0.3s ease-in-out;
}
.header__wrap-bottom .header__container {
  display: flex;
  padding: 12px 0;
}
.header__wrap-bottom .header__container .header__button {
  padding: 12px 24px;
  background-color: #f5f5f5;
  font-size: 16px;
  line-height: normal;
  font-weight: 500;
  color: #111010;
  border: 0;
  border-radius: 28px;
}
.header__wrap-bottom-visible {
  transform: none;
}

.main {
  max-width: 1488px;
  margin: 0 auto;
  margin-top: 248px;
  display: flex;
  gap: 32px;
}
.main .news {
  max-width: 1171px;
}
.main .news .swiper {
  padding-bottom: 60px;
}
.main .news .swiper-wrapper .slide {
  display: flex;
  gap: 32px;
  background-color: #f4f6f9;
  border-radius: 16px;
}
.main .news .swiper-wrapper .slide__img {
  border-radius: 16px 0 0 16px;
  min-width: 510px;
  background-color: #e4e4e4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .news .swiper-wrapper .slide__content {
  padding: 32px 32px 40px 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.main .news .swiper-wrapper .slide__content .slide__info {
  display: flex;
  align-items: center;
  gap: 16px;
}
.main .news .swiper-wrapper .slide__content .slide__info .slide__topic {
  font-size: 12px;
  font-weight: 500;
  color: #322d2d;
  padding: 8px 16px;
  border-radius: 28px;
  background-color: #ffffff;
  line-height: normal;
}
.main .news .swiper-wrapper .slide__content .slide__info .slide__date {
  font-size: 12px;
  line-height: normal;
  color: #7e7e7e;
}
.main .news .swiper-wrapper .slide__content .slide__title {
  margin: 0;
  color: #0e0d35;
  font-weight: 700;
  line-height: normal;
  font-size: 32px;
  height: 116px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.main .news .swiper-wrapper .slide__content .slide__text {
  font-size: 16px;
  line-height: 118%;
  color: #414040;
}
.main .news .swiper .swiper-button-prev {
  width: 36px;
  height: 36px;
  border-radius: 18px;
  top: auto;
  bottom: 0;
  background-color: #e4e4e4;
  left: 37.7%;
}
.main .news .swiper .swiper-button-prev svg {
  width: 20px;
}
.main .news .swiper .swiper-button-prev::after {
  display: none;
}
.main .news .swiper .swiper-button-next {
  width: 36px;
  height: 36px;
  border-radius: 18px;
  top: auto;
  bottom: 0;
  background-color: #e4e4e4;
  right: 37.7%;
}
.main .news .swiper .swiper-button-next svg {
  width: 20px;
}
.main .news .swiper .swiper-button-next::after {
  display: none;
}
.main .news .swiper .swiper-pagination {
  top: auto;
  bottom: 0;
}
.main .news .swiper .swiper-pagination .swiper-pagination-bullet {
  width: 24px;
  height: 24px;
  background-color: #e4e4e4;
  opacity: 1;
  margin: 0 8px;
}
.main .news .swiper .swiper-pagination .swiper-pagination-bullet-active {
  background-color: transparent;
  border: 2px solid #d6383c;
}
.main .asideNews {
  min-width: 285px;
}/*# sourceMappingURL=style-index.css.map */