@import '../_vars.scss';
@import '../_mixin.scss';

@media (max-width: 1280px) {
    .container {
        padding: 0 16px;
        max-width: unset;
    }

    .header {
        &__wrap {
            &-top {
                .header__container {
                    padding: 20px 16px;
                    .nav {
                        .list {
                            gap: 12px;
                        }
                    }
                }
            }
            &-middle {
                .header__container {
                    padding: 18px 16px;
                    gap: 16px;
                    .header__button-menu {
                        margin-right: 16px;
                    }
                    .header__logo {
                        margin-right: 42px;
                    }
                }
            }
            &-bottom {
                .header__container {
                    padding: 10px 16px;
                }
            }
        }
        .header__menu {
            padding: 48px 16px;
            .list {
                width: 364px;
                &-2 {
                    padding: 16px;
                    width: 268px;
                    right: -280px;
                }
                &-3 {
                    padding: 16px;
                    width: 268px;
                    right: -292px;
                    top: -16px;
                }
            }
        }
    }
    .breadcrumb {
        padding: 0 16px;
    }
    .document {
        margin-bottom: 80px;
        &__container {
            .document__title {
                font-size: 42px;
            }
            .filter {
                &__wrap {
                    flex-direction: column;
                    .filter__inputs {
                        width: 100%;
                        gap: 12px;
                        padding: 12px;
                        .input-wrap {
                            &:first-child {
                                width: 100%;
                                margin-bottom: 0;
                            }
                            &:nth-child(2) {
                                width: 100%;
                                margin-bottom: 0;
                            }
                            &:nth-child(n + 3) {
                                width: 100%;
                            }
                        }
                        .autoComplete_wrapper {
                            width: 100%;
                        }
                    }
                    .filter__buttons {
                        flex-direction: row;
                        padding: 12px;
                        .filter__button {
                            width: 50%;
                        }
                    }
                }
            }
            .document__cards {
                .card {
                    &__info {
                        overflow-x: scroll;
                        .card__tag {
                            &:hover .tooltip {
                                display: none;
                            }
                            .tooltip {
                                display: none;
                            }
                        }
                    }
                    &__files {
                        overflow-x: scroll;
                        .card__file {
                            &:hover .tooltip {
                                display: none;
                            }
                            .tooltip {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
    .footer {
        padding: 42px 0;
        &__container {
            .footer__text {
                line-height: 120%;
            }
            .footer__top {
                margin-bottom: 12px;
                flex-wrap: wrap;
                gap: 44px;
                .footer__wrap {
                    max-width: unset;
                    .footer__logo {
                        margin-bottom: 8px;
                    }
                    .footer__ageLimit {
                        bottom: 17px;
                    }

                    &:last-child {
                        gap: 80px;
                    }
                    &:first-child {
                        order: 3;
                        display: flex;
                        gap: 60px;
                        .footer__logo {
                            display: none;
                        }
                        .footer__text-name {
                            display: none;
                        }
                    }
                    &:nth-child(2) {
                        max-width: 500px;
                        min-height: 405px;
                        .footer__logo {
                            display: block;
                            margin-bottom: 12px;
                        }
                        .footer__text {
                            &:nth-child(4) {
                                margin-bottom: 12px;
                            }
                            &:nth-child(6) {
                                margin-bottom: 32px;
                            }
                        }
                        .footer__text-name {
                            display: block;
                            margin-bottom: 32px !important;
                        }
                        .footer__ageLimit {
                            bottom: 0;
                            left: 0;
                            right: auto;
                        }
                    }
                }
            }
            .footer__bottom {
                display: block;
                .footer__text:first-child {
                    margin-bottom: 12px;
                }
            }
        }
    }
}
